
<% form_for(@site_config, :html => {:'accept-charset' => 'UTF-8'}) do |f| %>
    <%= f.error_messages %>
    <div class='line'><div class='field_name'>Captcha Public Key</div><div class='field_value'><%= f.text_field :captcha_pub_key %></div></div>
    <div class='line'><div class='field_name'>Captcha Private Key</div><div class='field_value'><%= f.text_field :captcha_priv_key %></div></div>
    <%= f.submit 'Save' %>
<% end %>
