<h1>SiteConfigs#index</h1>
<p>Find me in app/views/site_configs/index.html.erb</p>
<table>
  <tr>
  </tr>

<% @site_configs.each do |site_config| %>
  <tr>
    <td>Site Config</td>
    <td><%= link_to 'Show', site_config %></td>
    <td><%= link_to 'Edit', site_config_path(site_config) %></td>
    <td><%= link_to 'Destroy', site_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site_config', new_site_config_path %>