
<%question.survey_answers.each do |answer|%>
    <label>
        <%= check_box_tag "MCMCMC", "#{answer.answer}", false, :'data-fv-notempty' => (question.mandatory ? 'true' : 'false') %>
        <%= answer.answer.html_safe %>
    </label>
<%end%>
