
<%question.survey_answers.each do |answer|%>
    <div class="checkbox-group-div">
        <label>
            <span class="checkbox-group">
                <%= check_box_tag "#{arg_name}[#{ question.id }][]", "#{answer.id}", false, :'data-fv-notempty' => (question.mandatory ? 'true' : 'false') %>
                <%= answer.answer.html_safe %>
            </span>
        </label>
    </div>
<%end%>
