<div class='survey_answer'>
    <div class='line'><div class='field_name'>Answer</div><div class='field_value'><%= answer_detail.answer %></div></div>
    <div class='boolean'>Default?: <%= answer_detail.default %></div>
</div>
