<%#
#
# Availability consists of four questions
# 1. Available for the whole convention
# 2. Available for set times 
#    a. after X
#    b. before Y
# 3. I am not sure when I am available
#
# Store results as serialized objects or strings (TODO - need to decide)
#
%>
<div class='survey_availability'>
    <p>Currently there are no customizable parts to the availability question.</p>
</div>
