<%- #
-%>
<div>
    <div class='line'><div class='field_name'>CSS</div><div class='field_value'><%= format_detail.style %></div></div>
    <div class='line'><div class='field_name'>Order</div><div class='field_value'><%= format_detail.sort_order %></div></div>
    <div class='line'><div class='field_name'>Help Text</div><div class='field_value'><%= format_detail.help %></div></div>
    <div class='line'><div class='field_name'>Text Size</div><div class='field_value'><%= format_detail.textfield_size %>&nbsp;</div></div>
</div>
