<li class="ui-widget-content">
	<div class='survey-question-display'>
        <div class='survey-question-top'>
		    <div class='question-delete'>
		        <%= link_to 'delete', survey_survey_group_survey_question_path(@survey,@group,survey_question), :class => "question-delete-link" %>
		    </div>
            <div class='question-edit'>
                <%= link_to 'edit', edit_survey_survey_group_survey_question_path(@survey,@group,survey_question), :class => "question-edit-link" %>
            </div>
		</div>
		<%= render :partial => 'surveys/survey_groups/survey_questions/survey_question_detail', :locals => {:survey_question => survey_question} %>
	</div>
</li>
