
<div class='line'><div class='field_name'>Question:</div><div class='field_value'><%= textbox_detail.question %></div></div>
<div class='line'><div class='field_name'>Is Bio</div><div class='field_value'><%= textbox_detail.isbio %></div></div>
