
<%= fields_for textbox_form do |f| %>
    <div class='line'><div class='field_name'>Question:</div><div class='field_value'><%= f.text_field :question %></div></div>
    <div class='line'><div class='field_name'>Is Bio</div><div class='field_value'><%= f.check_box :isbio %></div></div>
<%end%>
