<div class="container_12">
<h1 class="grid_8 push_2">Program Participant Questionnaire</h1>
</div>
<div class="clear"></div>
<div class="grid_8 push_1">
Thank you for completing the questionnaire. You will receive an email shortly confirming your responses to the questionnaire.
You can always review and edit your response by returning to the <%= link_to 'survey', survey_respondents_path %> and 
entering the following 'invitation code': <b><%= @respondent.key %></b>
</div>
