<% content_for :jsheader do %>
  <%= stylesheet_link_tag 'jquery.tooltip.css' %>
  <%= javascript_include_tag 'jquery.tooltip.min' %>
  <script>
	$(function(){
		$('#survey-set a').tooltip();
	});
  </script>
<% end %>
  <% if @survey %>
    <% if !@survey.header_image.empty? %>
    <div><img src="<%= @survey.header_image if @survey.header_image %>"></div>
    <% end %>
  <%end%>
<div class="container_12">
<h1 class="grid_8 push_2">Program Participant Questionnaire</h1>
</div>
<div class="clear"></div>
<% form_for @survey_respondent, :html => {:'accept-charset' => 'UTF-8'} do |f| %>
  <%= render :partial => "form", :locals => {:object => f, :button => "I wish to be on program"} %>
<% end %>
