<% content_for :jsheader do %>
  <%= stylesheet_link_tag 'jquery.tooltip.css' %>
  <%= javascript_include_tag 'jquery.tooltip.min' %>
  <script>
	$(function(){
		$('#survey-set a').tooltip();
	});
  </script>
<% end %>
<div class="container_12">
<h1 class="grid_8 push_2">Program Participant Questionnaire</h1>
</div>
<div class="clear"></div>
<% form_for @survey_respondent do |f| %>
  <%= render :partial => "form", :locals => {:object => f, :button => "I will attend"} %>
<% end %>
