
<script type="text/template" id="query-list-layout-template">
<section>
    <div class="row">
        <div class="col-xs-1"><span class="label label-big"><%= t 'Queries' %></span></div><div id="query-control-div"></div>
    </div>
    <div class="row">
        <div class='collapse-group' id="query-area-parent" style="height : 370px; overflow : auto;"> <!-- TODO - move this to the style sheet -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#query-area-parent" href="#MyQueries">My Queries</a>
            </div>
            <div id="MyQueries" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div id="my-query-region-div"></div>
                </div>
            </div>
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#query-area-parent" href="#SharedQueries">Shared Queries</a>
            </div>
            <div id="SharedQueries" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div id="shared-query-region-div"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</script>


<script type="text/template" id="query-template">
    <td>
        <a href="#query-tab" data-toggle="tab" class="model-select-button">{{= name}}</a>
    </td>
    <td>
        <button class="model-copy-button btn btn-xs">Copy</button>
    </td>
    <td>
        <button class="model-delete-button btn btn-xs"><i class="icon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="query-control-template">
    <button class="add-model-button btn-xs btn-primary pull-right">
        <%= t 'add query' %>
    </button>
</script>

<script type="text/template" id="query-data-template">
QUERY
</script>