
<h2><%= resplist.count %> People:</h2>
<p>
<% if resplist.blank? %>
   No one right now.
<% else %>
   <dl>
   <% resplist.each do |p| %>
       <dt><%= p.GetFullPublicationName %></dt>
       <dd><%= p.tag_list_on( context ) %></dd>
   <% end %>
   </dl>
<% end %>

</p>
