<div class='container_12'>
<h1>Art Night notes</h1>
<h2><%= @art_night.count %> People:</h2>
<p>
<% if @art_night.blank? %>
   No one right now.
<% else %>
   <dl>
   <% @art_night.each do |p| %>
       <dt><%= p.GetFullName %></dt>
       <dd><%= p.response %></dd>
   <% end %>
   </dl>
<% end %>

</p>
<hr />
</div>
