<h2>People available during conflicts items</h2>

<% form_tag('/survey_reports/available_during', :method => 'post') do %>
<p>
   <%= label_tag :conflict_id, "Conflict Item: "%>
   <%= select_tag :conflict_id, options_for_select(@conflicts, params[:conflict_id]) %>
   <%= submit_tag "Search" %>
</p>
<% end %>

<% if params[:conflict_id]  %>
<%= render :partial => "namelist", :object => @names %> 
<% end %>
