<div class='container_12'>
<h1>Willing to moderate</h1>
<h2><%= @moderators.count %> People:</h2>
<p>
<% if @moderators.blank? %>
   No one right now.
<% else %>
   <ul>
   <% @moderators.each do |p| %>
       <li><%= p.getFullPublicationName %></li>
   <% end %>
   </ul>
<% end %>

</p>
<hr />
</div>
