<h2>Search by program type</h2>

<% form_tag('/survey_reports/program_types', :method => 'post') do %>
<p>
   <%= label_tag :type_id, "Program Type: "%>
   <%= select_tag :type_id, options_for_select(@program_types, params[:type_id]) %>
   <%= submit_tag "Submit" %>
</p>
<% end %>

<% if params[:type_id]  %>
<%= render :partial => "namelist", :object => @interested %> 
<% end %>
