
#selectable .ui-selecting { background: #FECA40; }

#selectable .ui-selected { background: #F39814; color: white; }

#selectable { list-style-type: none; margin: 0; padding: 0; }

#selectable li { margin: 2px; padding: 0.1em; font-size: 1em; height: 18px; }
