<div class='excluded_items'>
   
  <% if @excludedItems %>
    <% @excludedItems.each do |excluded| %>
  	<div class='line'>
		Not Against: <%= excluded.title %>
  	</div>
  <% end %>
  <% end %>
 
</div>

