<div class='excluded_items_survey_map'>
  <div>
   
  <% if @excludedItems %>
    <% @excludedItems.each do |excluded| %>
  	<div class='line'>
		Not Against: <%= excluded.title %>
  	</div>
  <% end %>
  <% end %>
 
</div>

