<h1> Generate list using following criteria</h1>
<%=
    if flash[:error]
      content_tag(:div, content_tag(:p, flash[:error]), :class => "error grid_10")
    end
%>
<% form_for :assign_reference_numbers, :url=>{:controller=>"programme_items", :action=>"do_assign_reference_numbers",:method => "post"} do |f| -%>
 <div>
  <div class='line'>
    Pressing submit will re-number all programme items. Please be aware that since
	these are reference numbers, as soon as the programme is published, they should
	not be renumbered
  </div>
  
  <div class='form-buttons'>
		<%= f.submit "Submit" %>
	
  </div>
  <div>
  		<%= link_to 'Cancel', programme_items_path%>
  </div>
<% end -%>