<% content_for :styleheader do %>
.ui-jqgrid .ui-jqgrid-htable th div {
height: 30px;
}<% end %>
<% content_for :jsheader do %>
<%= stylesheet_link_tag 'jquery.timeentry' %>
<%= javascript_include_tag 'vendor/jquery.timeentry.min' %>
<%= javascript_include_tag 'programme_items/programme_items' %>
<% end %>
<div class='container_12'>
    <div id="programmeItem_id" style="display : none">
    </div>
    <div class="grid_10">
        <table id="programmeItems">
        </table>
        <div id="pager">
        </div>
    </div>
</div>
<div class='container_12'>
    <div class="grid_5">
        <div id="programmeItems_tabs" style="font-size:11px;">
            <ul>
                <li>
                    <a href="#detailstab">Details</a>
                </li>
                <li>
                    <a href="#tagstab">Tags</a>
                </li>
				<li>
					<a href="#excludedtab">Excluded</a>
				</li>
				<li>
					<a href="#equipmenttab">Equipment</a>
				</li>
            </ul>
            <div id="detailstab">
            </div>
            <div id="tagstab">
            </div>
			<div id="excludedtab">
			</div>
			<div id="equipmenttab">
			</div>
        </div>
    </div>
    <div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all grid_4">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            All Programme Item Tags
        </div>
        <div id="programmeitem-tag-cloud">
        </div>
    </div>
    <div id="tag-facets" class="ui-widget ui-widget-content ui-corner-all grid_2">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            Tag Filter(s)
        </div>
        <div id="programmeitem-tag-facets">
        </div>
    </div>
</div>
