<%= render_cell "mobile/pages", :javascript %>
<%= render_cell "mobile/pages", :templates %>

<div class="row">
    <div class="col-xs-12">
        <div id='mobile-pages-area'></div>
    </div>
</div>
