<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function() {
    //Patch for template variables in _underscore top stop class with Rails variables in the file
    _.templateSettings = {
        interpolate : /\{\{\=(.+?)\}\}/g,
        evaluate : /\{\{(.+?)\}\}/g
    };
    
    MailingHistory = Backbone.Model.extend({});
    
    MailingHistoryCollection = Backbone.PageableCollection.extend({
        model: MailingHistory,
        url: '/mail_history',
        state: {
            firstPage: 1,
            pageSize: 15,
            totalRecords: 200,
        },
        queryParams : {
            person_id : <%= (@person_id.nil? ? '""' : @person_id).html_safe %>,
            mailing_id : <%= (@mailing_id.nil? ? '""' : @mailing_id).html_safe %>
        }
    });
    
    var columns = [
    {
        name : 'person',
        label : 'Name',
        editable : false,
        cell: Backgrid.Extension.TextCell.extend({
              render: function () {
                this.$el.empty();
                this.$el.html(this.formatter.fromRaw(this.model.get(this.column.get("name"))));
                this.delegateEvents();
                return this;
              },
        }),

        formatter: _.extend({}, Backgrid.CellFormatter.prototype, {
            fromRaw: function (rawValue) {
                var res = "";
                if (rawValue.pseudonym) {
                    res = rawValue.pseudonym.first_name + " " + rawValue.pseudonym.last_name;
                    res += "<br/>( " + rawValue.first_name + " " + rawValue.last_name + " )"
                } else {
                    res = rawValue.first_name + " " + rawValue.last_name;
                };
                return res; 
            },
            render : function () {
                alert('h');
            }
    })
    }, {
        name : 'mailing',
        label : 'Mailing',
        editable : false,
        cell: 'string',
        formatter: _.extend({}, Backgrid.CellFormatter.prototype, {
                fromRaw: function (rawValue) {
                return rawValue.mailing_number;
            }
        })
    }, {
        name : 'content',
        label : 'Content',
        cell: Backgrid.Extension.TextCell.extend({
            editor: Backgrid.Extension.TextareaEditor.extend({
                template: _.template('<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h3>{{= column.get("label") }}</h3></div><div class="modal-body">{{= content }}'),
                render: function () {
                    this.$el.html($(this.template({
                        column: this.column,
                        cols: this.cols,
                        rows: this.rows,
                        content: this.formatter.fromRaw(this.model.get(this.column.get("name")))
                    })));

                  this.delegateEvents();

                  this.$el.modal(this.modalOptions);

                  return this;
                },
                saveOrCancel: function (e) {}, // to prevent the dialog asking to save etc.
            }),
            render: function () {
                this.$el.empty();
                this.$el.text(this.formatter.fromRaw(this.model.get(this.column.get("name"))));
                this.delegateEvents();
                return this;
            },
        }),
    }, {
        name : 'status',
        label : 'Status',
        editable : false,
        cell: 'string'
    }, {
        name : 'date_sent',
        label : 'Date Sent',
        editable : false,
        cell: Backgrid.Extension.MomentCell.extend({
            displayInUTC : false,
            displayFormat: "YYYY MMMM DD, hh:mm a"
        })
    }, {
        name : 'testrun',
        label : 'Test Run',
        editable : false,
        cell: 'string'
    }
    ];
    
    jQuery.ajax('/mail_history/count', {
        data : {
            person_id : <%= (@person_id.nil? ? '""' : @person_id).html_safe %>,
            mailing_id : <%= (@mailing_id.nil? ? '""' : @mailing_id).html_safe %>
        },
        success : function(data, textStatus, jqXHR) {
            var mailingHistories = new MailingHistoryCollection([], {
                state: {
                    firstPage: 1,
                    pageSize: 15,
                    totalRecords: data
                }
            });
    
            var grid = new Backgrid.Grid({
               columns: columns,
               collection: mailingHistories 
            });
    
            var gridplace = $('#mailing-report-grid');
            var conrolplace = $('#mailing-report-control');
    
            // Initialize the paginator
            var paginator = new Backgrid.Extension.Paginator({
                collection: mailingHistories
            });
            gridplace.append(paginator.render().$el);
            gridplace.append(grid.render().$el);
            
            var name_filter = new Backgrid.Extension.ServerSideFilter({
                placeholder: "Search Last Name...",
                collection: mailingHistories,
                name: "person",
                wait: 150
            });
            var mailing_filter = new Backgrid.Extension.ServerSideFilter({
                placeholder: "Search Mailing #...",
                collection: mailingHistories,
                name: "mailing",
            });

            conrolplace.append(name_filter.render().$el);
            conrolplace.append(mailing_filter.render().$el);
    
            mailingHistories.fetch({ reset : true });
        },
    });
    
}); 
//]]>
</script>
