<select> 
<% for acceptanceEntry in @acceptanceStatus %>
	<option value='<%= acceptanceEntry.id%>'><%= t 'person-acceptance-' + acceptanceEntry.name.downcase.gsub(/\s/,'-') %></option> 
<%end%>
</select>
