<br/>
<br/>
<p> This will clear all conflicts for scheduling. To re-create, re-run Update Conflicts From Survey.</p>
<div>
	<%= link_to 'Clear', '/participants/doClearConflictsFromSurvey'%>
</div>
<div>
    <%= link_to 'Cancel', people_path%>
</div>