<% content_for :styleheader do %>
.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto;
}
<% end %>
<% content_for :jsheader do %>
  <%= javascript_include_tag 'participants/participants' %>
<% end %>
<div class='row-fluid'>
<div id="participant_id" style="display : none"></div>
<div class="span12">
    <table id="participants">
    </table>
    <div id="pager">
    </div>
</div>
</div>
<div class='row-fluid'>
<div class="span2">Current Participant:</div><div id="participant_name" class="span10"></div>
</div>
<div class='row-fluid'>
<div class="span6">
    <div id="particpanttabs" style="font-size:11px;">
        <ul>
            <li>
                <a href="#regtab">Registration Details</a>
            </li>
            <li>
                <a href="#addrstab">Contact Details</a>
            </li>
            <li>
                <a href="#invitetab">Invite Details</a>
            </li>
			<li>
				<a href="#biotab">Bio</a>
			</li>
			<li>
				<a href="#tagstab">Tags</a>
			</li>
			<li>
				<a href="#surveytab">Survey</a>
			</li>
			<li>
				<a href="#availabledatetab">Availability</a>
			</li>
			<li>
				<a href="#itemstab">Items</a>
			</li>
        </ul>
        <div id="regtab">
        </div>
        <div id="addrstab">
        </div>
        <div id="invitetab">
        </div>
		<div id="biotab">
		</div>
        <div id="tagstab">
        </div>
		<div id="surveytab">
		</div>
		<div id="availabledatetab">
		</div>
		<div id="itemstab">
		</div>
    </div>
</div>
<div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all span3">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            All Participant Tags
        </div>
        <div id="participant-tag-cloud">
        </div>
</div>
<div id="tag-facets" class="ui-widget ui-widget-content ui-corner-all span3">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            Tag Filter(s)
        </div>
        <div id="participant-tag-facets">
        </div>
</div>
</div>
    