<% content_for :styleheader do %>
.ui-jqgrid .ui-jqgrid-htable th div {
    height: 30px;
}
<% end %>
<% content_for :jsheader do %>
  <%= javascript_include_tag 'participants/participants' %>
<% end %>
<div id="participant_id" style="display : none"></div>
<div class="grid_10">
    <table id="participants">
    </table>
    <div id="pager">
    </div>
</div>
<div class="clear"></div>
<div class="grid_2">Current Participant:</div><div id="participant_name" class="grid_8"></div>
<div class="clear"></div>
<div class="grid_7">
    <div id="particpanttabs" style="font-size:11px;">
        <ul>
            <li>
                <a href="#regtab">Registration Details</a>
            </li>
            <li>
                <a href="#addrstab">Contact Details</a>
            </li>
            <li>
                <a href="#invitetab">Invite Details</a>
            </li>
			<li>
				<a href="#biotab">Bio</a>
			</li>
			<li>
				<a href="#tagstab">Tags</a>
			</li>
        </ul>
        <div id="regtab">
        </div>
        <div id="addrstab">
        </div>
        <div id="invitetab">
        </div>
		<div id="biotab">
		</div>
        <div id="tagstab">
        </div>
    </div>
</div>
<div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all grid_4">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            All Participant Tags
        </div>
        <div id="participant-tag-cloud">
        </div>
</div>
    