<% content_for :jsheader do %>
  <%= javascript_include_tag 'participants/participants' %>
<% end %>
<div id="participant_id" style="display : none"></div>
<div class="container_12">
<div class="grid_10">
    <table id="participants">
    </table>
    <div id="pager">
    </div>
</div>
</div>
<div class="clear"></div>
<div class="container_12">
<div class="grid_10">
    <div id="particpanttabs" style="font-size:11px;">
        <ul>
            <li>
                <a href="#regtab">Registration Details</a>
            </li>
            <li>
                <a href="#addrstab">Contact Details</a>
            </li>
            <li>
                <a href="#invitetab">Invite Details</a>
            </li>
            <li>
                <a href="#tagstab">Tags</a>
            </li>
        </ul>
        <div id="regtab">
        </div>
        <div id="addrstab">
        </div>
        <div id="invitetab">
        </div>
        <div id="tagstab">
        </div>
    </div>
</div>
</div>
	<div class="clear"></div>
<div class="container_12">
    <div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all grid_10">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            Participant Tag Cloud
        </div>
        <div id="participant-tag-cloud">
        </div>
    </div>
<div>
