<div id='links'>
	<%= link_to "New Participant", :action => 'new' %>
</div>
<div id='left-panel'>
	<table id="participants"></table>
	<div id="pager"></div>
</div>
<div id='right-panel'>
<div id="particpanttabs">
	<ul>
		<li><a href="#regtab">Registration Details</a></li>
		<li><a href="#addrstab">Contact Details</a></li>
	</ul>
	<div id="regtab">
	</div>
	<div id="addrstab">
	</div>
</div>
</div>
