<div id="participant_id" style="display : none"></div>
<br/>
<br/>
<div id='left-panel'>
	<table id="participants"></table>
	<div id="pager"></div>
	<div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all">
	<div class="ui-widget-header ui-corner-top ui-helper-clearfix">Participant Tag Cloud</div>
	<div id="participant-tag-cloud">
	</div>
	</div>
</div>
<div id='right-panel'>
<div id="particpanttabs" style="font-size:11px;">
	<ul>
		<li><a href="#regtab">Registration Details</a></li>
		<li><a href="#addrstab">Contact Details</a></li>
		<li><a href="invitetab">Invite Details</a></li>
		<li><a href="#tagstab">Tags</a></li>
	</ul>
	<div id="regtab">
	</div>
	<div id="addrstab">
	</div>
	<div id="invitetab">
	</div>
	<div id="tagstab">
	</div>
</div>
</div>
