<h1>People#show</h1>

<h2>First Name: <%= @person.first_name %><h2/>
<h2>Last Name: <%= @person.last_name %><h2/>
<h2> InviteStatus: <% if @person.invitestatus %>
<%= @person.invitestatus.name %>
<% end%></h2>