// Place all the styles related to the pages/schedule_dash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.axis {
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke: #000;
}

.y.axis line,
.x.axis line {
  stroke: #aaa;
  stroke-opacity: .5;
}

path.line {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.prog-item-ctl,
.prog-item-rect {
  fill: white;
  stroke : black;
  stroke-opacity: 0.9;
  stroke-width: 0.5px;
  position:relative;
}

.item-text {
  width : 80%;
  display : block;
}

.item-ctl-icon,
.item-ctl-remove,
.item-ctl-back {
  // max-height:30%;
}

.item-ctl-remove,
.item-ctl-back {
  margin : 1px;
  line-height : 0;
}

.item-ctl-remove {
  position:absolute;
  top:0;
  right:0;
}
.item-ctl-back {
  position:absolute;
  bottom:0;
  right:0;
}

.candidate {
  stroke: red;
  stroke-width: 3px;
}

.prog-item-text-class,
.prog-item-text {
  font-family : sans-serif;
  font-size : 6pt;
  line-height: normal;
  fill : black;
}

