<div class='excluded_items_survey_map'>
  <div>
   <%= link_to "Make ths Excluded item", @urlstr, :class => 'entrydialog' %>
  </div>
  <% if @excludedItemsSurveyMaps %>
    <% @excludedItemsSurveyMaps.each do |survey_map| %>
  	  <div class='line'>
  		SurveyQuestion: 
		<% if survey_map.survey_answer_id != nil%><%= survey_map.survey_answer.answer %><% end %>
		<div class='controls'>
		  <div class='remove-form'>
	        <%= button_to "remove", survey_map, :method => :delete, :class => 'remove-button' %>
	      </div>
	    </div>
	  </div>
    <% end %>
  <% end %>
  <div class='message' id='tab-messages'></div>
  <div class="jqmWindow" id="edialog">Please wait...</div>
</div>

