<div class='excluded_items_survey_map'>
  <div>
   
  <% if @excludedItemsSurveyMaps %>
    <% @excludedItemsSurveyMaps.each do |survey_map| %>
  	<div class='line'>
  		SurveyQuestion: 
		<%= survey_map.survey_answer.answer %>
  	</div>
  <% end %>
  <% end %>
  </div>
</div>

