<h1>New survey_copy_status</h1>

<%= form_for(@survey_copy_status, :html => {:'accept-charset' => 'UTF-8'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', survey_copy_statuses_path %>