
<%= render_cell "participants/participant_list", :javascript, 
    :caption => "participants-(confirmed)",
    :pager => "participants-pager",
    :del => false,
    :edit => false,
    :add => false,
    :invite_status => false,
    :invite_category => false,
    :acceptance_status => false,
    :has_survey => false,
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    :extraClause => "extraClause[param]=acceptance_status_id&extraClause[value]=7,8", # Only display the people who accepted to be on the program
    
    :multiselect => true,
    :showControls => false,
    :selectNotifyMethod => "ItemApp.PeopleManagement.showPerson"
%>
    
<%= render_cell "items/add_people", :javascript, :prog_item => @prog_item %>
<%= render_cell "items/add_people", :templates %>

<div class="row">
    <div class="col-xs-4 left-jqgrid">
        <%= render_cell "participants/participant_list", :display,
                :pager => "participants-pager"
         %>
        <div class="voffset10"></div>
        <div id="people-control-view"></div>
    </div>
    <div class="col-xs-8" id="program-item-view">
        <div></div>
    </div>
</div>
