
<%= render_cell "participants/participant_list", :javascript, 
    :caption => 'participants',
    :pager => "participants-pager",
    :del => false,
    :edit => false,
    :add => false,
    :invite_status => false,
    :invite_category => true,
    :acceptance_status => true,
    :has_survey => false,
    :reg_type => false,
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    :pub_prefix => false,
    
    :multiselect => true,
    :showControls => false,
    :selectNotifyMethod => "ItemApp.PeopleManagement.showPerson"
%>
    
<%= render_cell "items/add_people", :javascript, :prog_item => @prog_item %>
<%= render_cell "items/add_people", :templates %>

<div class="row">
    <div class="col-xs-6 left-jqgrid">
        <div class="row">
            <div class="col-xs-12">
                <%= render_cell "participants/participant_list", :display,
                        :pager => "participants-pager"
                 %>
                <div class="voffset10"></div>
                <div id="people-control-view"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5" id="program-item-view">
        <div></div>
    </div>
</div>
