<% content_for :jsheader do %>
  <%= javascript_include_tag 'rooms/setup_types' %>
<% end %>
<div id="setup_types_id" style="display : none"></div>
<div class="container_12">
	<div class="grid_6">
    	<table id="setup_types"></table>
    	<div id="pager"></div>
	</div>
</div>
