<% content_for :jsheader do %>
<%= stylesheet_link_tag 'planner/itemplanner' %>
<%= javascript_include_tag 'planner/itemplanner' %>
<% end %>
<div class='container_12'>
    <div class="grid_3">
        <span id="participant-name-search"><input type='text' id='participant-name-search-text'>
            </input></span>
        <div class="spacer">
        </div>
        <span id="participant-toolbar" class="ui-widget-header ui-corner-all">
            <button id="participant-beginning">
                go to beginning
            </button>
            <button id="participant-rewind">
                rewind
            </button>
            <input type='text' size='2' id='current-participant-page'>
            </input>
            <button id="participant-forward">
                fast forward
            </button>
            <button id="participant-end">
                go to end
            </button>
        </span>
        <div class="spacer">
        </div>
        <div id="participant-widget" class="ui-widget ui-widget-content ui-corner-all">
            <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
                Participants
            </div>
            <div id="participant-widget-content">
            </div>
        </div>
        <div class="spacer">
        </div>
        <div id="trashcan" class="ui-widget ui-widget-content ui-corner-all">
            <div class="small-spacer">
            </div>
            <button id="item-trash">
                save
            </button>
            <div class="trash-message">
                Drag Participant here to remove from Item
            </div>
            <div class="small-spacer">
            </div>
        </div>
    </div>
    <div id="item-widget" class="ui-widget ui-widget-content ui-corner-all grid_5">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            Current Item
        </div>
        <% if false %>
        # <!-- *************
        #        TODO - make this send a message to the programme_items_controller to add participants
        #        1. Add method and response view to the programme item controller for updating/adding participants
        #        2. Ensure that this calls the method correctly i.e. path etc
        #        ---
        #        TODO - when the
        #        --># /programme_items/:id/updateParticipants(.:format)
        # form action="/participants/doReportInviteStatus?method=get" method="post"
        # input name="authenticity_token" type="hidden" value="g2WimDC7x8UU1ez7MAyKBkPy8lynwFzHFz5O1aDpNQ8=" /
        # form id="item-update-form" method="post" action="/programme_items/1/updateParticipants" 
        # 
        <% end %>
        <% form_tag("/programme_items/1/updateParticipants", :method => "post", :id => "item-update-form") do %>
        <div class="small-spacer">
        </div>
        <span id="item-update-toolbar">
            <button id="item-save">
                save
            </button>
        </span>
        <div id="item-widget-content">
            <div id="current-item-content">
            </div>
        </div>
        <% end %>
        <div id="item-update-messages">
        </div>
    </div>
    <div class="grid_3">
        <span id="item-name-search"><input type='text' id='item-name-search-text'>
            </input></span>
        <div class="spacer">
        </div>
        <span id="item-toolbar" class="ui-widget-header ui-corner-all">
            <button id="item-beginning">
                go to beginning
            </button>
            <button id="item-rewind">
                rewind
            </button>
            <input type='text' size='2' id='current-item-page'>
            </input>
            <button id="item-forward">
                fast forward
            </button>
            <button id="item-end">
                go to end
            </button>
        </span>
        <div class="spacer">
        </div>
        <div id="items-widget" class="ui-widget ui-widget-content ui-corner-all">
            <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
                Items
            </div>
            <div id="items-widget-content">
            </div>
        </div>
        <!-- TODO - put in mechanism to page and to filter -->
    </div>
</div>
