
<%= render_cell "surveys/reporting", :javascript, :caption => "surveys" %>

<%= render_cell "surveys/reporting", :templates %>

<div class="row">
    <div class="col-xs-4">
        <%= render_cell "surveys/survey_list", :display %>
    </div>
    <div class="col-xs-8">
    </div>
</div>
