<%question.survey_answers.each do |answer|%>
    <div class="checkbox <%=question.survey_format.answer_style%>">
    <label>
        <%= check_box_tag "check_#{question.id}", "#{answer.id}", false, :class =>  question.survey_format.answer_style %>
        <%= answer.answer %>
    </label>
    </div>
<%end%>
<!-- 
    TODO - styling and input value
    TODO - have time input as seperate type
-->