<%= render_cell "communications/templates", :javascript %>

<%= render_cell "communications/templates", :templates %>

<div class="row">
    <div class="col-xs-4" style="height : 370px; overflow : auto;">  
        <div id="mail-template-region-view"></div>
    </div>
    <div class="col-xs-8">
        <h3 class="h3-underlined"><%= t 'template-details' %></h3>
        <div id="mail-template-edit-area"></div>
    </div>
</div>

