<% content_for :jsheader do %>
<%= javascript_include_tag 'planner/updates' %>
<% end %>
<div class='container_12'>
    <div class="grid_6">
        <select id="date-choice"> 
            <% for dates in @pubDateList %>
                <option value='<%=dates.id%>'><%= dates.timestamp.strftime("%d/%b/%y at %H:%M") %></option> 
            <%end%>
        </select>
        <button id="review-updates">Get Updates</button>
        <div id='result'></div>
    </div>
</div>
