<div class="row-fluid">
<%= render_cell :context_menu, :display, :menu => {
    "items" => '/pages/items_dash/manage',
    "add people" => '/pages/items_dash/add_people',
} %>
</div>
<div class="row-fluid">
<% if @cellname %>
    <%= render_cell "items/#{@cellname}", :display %>
<% end %>
</div>
