/*
 * 
 */

#programme_item_content
{
	width : 90%
}

#links {
	clear : both;
}

#left-panel {
	float: left;
	margin: 5px;
}
             
#right-panel {
	float: left;
	margin: 5px;
}

#dropdownmenu {
	margin: 0;
	padding: 0
}          

#dropdownmenu li { 
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#dropdownmenu li a { 
	display: block;
	background: #20548E;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	color: #EAFFED;
	white-space: nowrap
}

#dropdownmenu li a:hover {
	background: #1A4473
}

#dropdownmenu li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	z-index: 11;
}
		
#dropdownmenu li ul li {
	float: none;
	display: inline;
}
		
#dropdownmenu li ul li a {
	width: auto;
	background: #9F1B1B;
}
		
#dropdownmenu li ul li a:hover {
	background: #7F1616;
}

div.controls {
	display: inline-block;
	clear: none;
	width: 100%;
}

div.controls div.remove-form {
	float: right;
	vertical-align: top;
	margin-left: 5px;
}

div.controls div.edit-form {
	float: right;
	vertical-align: top;
}
		
#dropdownmenu li ul li a:hover {
	background: #7F1616;
}

#content div.address {
}

div.address_header {
	display: inline-block;
	clear: none;
	width: 100%;
}

div.address_header div.infolabel {
	float: left;
	vertical-align: top;
	margin-left: 5px;
}

div.address_header div.add-form {
	float: right;
	vertical-align: top;
}

div.address div.address_postal {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
	height: 160px;
	padding: 3px;
}


div.address div.address_postal div.address_details {
}

div.address div.address_email {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
	height: 60px;
	padding: 3px;
}


div.address div.address_email div.address_details {
}

div div.field_name {
	width: 30%;
	float: left;
	margin-right: 8px;
	text-transform: capitalize;
}

#content div.address p a.entrydialog {
	float: right;
	margin-top: 7px;
}

div div.field_value {
	width: 70%;
}

div.boolean {
	clear: both;
	width: 100%;
}

div.line {
	clear: both;
}

div.city {
	clear: both;
	width: 100%;
}

div.state {
	clear: both;
	width: 100%;
}

div.postcode {
	clear: both;
	width: 100%;
}

div.country {
	clear: both;
	width: 100%;
}

div.phone {
	clear: both;
	width: 100%;
}

div.controls div.remove-form form.button-to div input.remove-button {
	padding: 0;
	background: none;
	border: none;
	display:block;
	text-decoration:underline;
	cursor:pointer ;
}



div.controls div.edit-form a.entrydialog {
	margin: 0;
	padding: 0;
	height: 18px;
}

div.survey_responses {
	padding: 1.5em 0.5em 2em;
}

div.survey_responses h3 {
	clear: both;
	float: left;
}

div.response_group_body {
	clear: both;
	overflow: hidden;
}

div.response_question {
}

div.response_question_text {
	clear: both;
	float: left;
	font-weight: bold;
	padding-right: 1em;
}

div.response_single_choice {
	float: left;
	padding-right: 1em;
}

div.response_choice {
	float: left;
	padding-right: 2em;
	color: navy;
}

div.response_text_box {
	float: left;
	font-family: "Courier New", Courier, mono;
	clear: both;
}

div.response_answer {
}

/* div.response_selection */
div.response_text {
	float: left;
	padding-right: 0.5em;
}

.ui-widget {
	font-size: 11px;
}

/*
#editslider,
.overlay,
.toggler 
*/
#editslider {
	position: absolute;
	z-index: 255;
}

div.tags {
	height: 100%;
    width: 100%;
	display: inline-block;
}

div.tag-title-area {
    display: inline-block;
}

div.tag-area {
    clear: both;
}

div.tag-controls {
    float: right;
}

div.tag-context-title {
    float: left;
}

div.tag,
div.tag-count,
div.tag-context-title,
div.tag-title {
	font-size: 10pt;
	font-family: Arial;
}

div.tag {
	margin-right: 5px;
	float: left;
}

div.tag-name {
	font-size: 8pt;	
	float: left;
}

div.tag-title {
	font-style: italic;
}

div.tag-context-title {
	font-size: 10pt;
	font-weight: bold; 
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

div.tag-count {
	float: left;
	font-size: 8pt;	
	color : grey;
}

.small-spacer {
		padding: 2px;    
}

.spacer {
		padding: 5px;    
}

.medium-spacer {
		padding: 10px;    
}

.large-spacer {
		padding: 20px;    
}

.selectable .ui-selecting { background: #FECA40; }

.selectable .ui-selected { background: #F39814; color: white; }

.selectable { list-style-type: none; margin: 0; padding: 0; }

.selectable li { margin: 2px; padding: 0.1em; font-size: 1em; background-color: transparent; }

