/* @override http://localhost:3000/stylesheets/planner.css?1277669140 */

/* @override http://localhost:3000/stylesheets/planner.css?1277665705 */


#people_content {
	width : 90%;
}
#programme_item_content
{
	width : 90%
}

#links {
	clear : both;
}

#left-panel {
	float: left;
	margin: 5px;
}
             
#right-panel {
	float: left;
	margin: 5px;
}

#dropdownmenu {
	margin: 0;
	padding: 0
}          

#dropdownmenu li { 
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
	width: 20%;
}

#dropdownmenu li a { 
	display: block;
	background: #20548E;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	color: #EAFFED;
	white-space: nowrap
}

#dropdownmenu li a:hover {
	background: #1A4473
}

#dropdownmenu li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
	z-index: 11;
}
		
#dropdownmenu li ul li {
	float: none;
	display: inline;
}
		
#dropdownmenu li ul li a {
	width: auto;
	background: #9F1B1B;
}
		
#dropdownmenu li ul li a:hover {
	background: #7F1616;
}

div.controls {
	display: inline-block;
	clear: none;
	width: 100%;
}

div.controls div.remove-form {
	float: right;
	vertical-align: top;
	margin-left: 5px;
}

div.controls div.edit-form {
	float: right;
	vertical-align: top;
}
		
#dropdownmenu li ul li a:hover {
	background: #7F1616;
}

#content div.address {
}

div.address div.address_postal {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
	height: 160px;
	padding: 3px;
}

div.address div.address_postal div.address_details {
}

div div.field_name {
	width: 20%;
	float: left;
	margin-right: 8px;
	text-transform: capitalize;
}

#content div.address p a.entrydialog {
	float: right;
	margin-top: 7px;
}

div div.field_value {
	width: 100%;
}

div.boolean {
	clear: both;
	width: 100%;
}

div.line {
	clear: both;
}

div.city {
	clear: both;
	width: 100%;
}

div.state {
	clear: both;
	width: 100%;
}

div.postcode {
	clear: both;
	width: 100%;
}

div.country {
	clear: both;
	width: 100%;
}

div.phone {
	clear: both;
	width: 100%;
}

div.controls div.remove-form form.button-to div input.remove-button {
	clear: both;
	margin: -1px 0 0 0px;
	background-image: none;
	background-color: transparent;
	padding: 0;
	border: 1px solid black;
}

div.controls div.edit-form a.entrydialog {
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	margin: 0;
	padding: 0;
	height: 18px;
}
