<%= render_cell "items/export", :javascript %>

<div class="row">
    <div class="col-xs-12">
        <div id='report-form-area'></div>
        <br>
        <div id='report-results-area'></div>
    </div>
</div>
