
<ul class="nav nav-pills boffset10 id="myTab">
    <li class="active"><a href="#program-item-tab" data-toggle="tab"><%= t "details" %></a></li>
    <li><a href="#equipment-tab" data-toggle="tab"><%= t "equipment" %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t "tags" %></a></li>
    <li><a href="#item-images-tab" data-toggle="tab"><%= t "images" %></a></li>
</ul>

<div id="item-tabs"></div>
