
<ul class="nav nav-pills" id="myTab">
    <li class="active"><a href="#program-item-tab" data-toggle="tab"><%= t "Details" %></a></li>
    <li><a href="#equipment-tab" data-toggle="tab"><%= t "Equipment" %></a></li>
    <li><a href="#tags-tab" data-toggle="tab"><%= t "Tags" %></a></li>
    <li><a href="#excluded-tab" data-toggle="tab"><%= t "Excluded" %></a></li>
</ul>
 
<div class="tab-content">
    <div class="tab-pane active" id="program-item-tab"><div id="program-item-view"></div></div>
    <div class="tab-pane" id="equipment-tab">
        <div id="equipment-view"></div>
    </div>
    <div class="tab-pane" id="tags-tab">
        <div id="tags-view"></div>
    </div>
    <div class="tab-pane" id="excluded-tab"><div id="excluded-view"></div></div>
</div>
