<!--
Use the Rails authenticity token in the forms...

<%= form_authenticity_token %>
-->
<!-- TODO - the modal template needs to be global???? -->
<script type="text/template" id="modal-edit-template">
<form>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">{{= title }}</h3>
    </div>
    <div class="modal-body" id="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel
        </button>
        <button class="btn btn-primary">
            Save Changes
        </button>
    </div>
</form>
</script>

<script type="text/template" id="program-item-view-template">
    {{ if (typeof id != 'undefined') { }}
    <div class="span10 clearfix">
        <div class="caption" class="pull-left">
            <button class="model-edit-button btn btn-primary btn-mini pull-right">
                Edit
            </button>
            <dl class="dl-horizontal">
                <dt>Title</dt><dd>{{= title ? title : "&nbsp;" }}</dd>
                <dt>Ref Number</dt><dd>{{= pub_reference_number ? pub_reference_number : "&nbsp;" }}</dd>
                <dt>Format</dt><dd>{{= format_name ? format_name : "&nbsp;" }}</dd>
                <dt>Setup</dt><dd>{{= setup_name ? setup_name : "&nbsp;" }}</dd>
                <dt>Short Title</dt><dd>{{= short_title ? short_title : "&nbsp;" }}</dd>
                <dt>Description</dt><dd>{{= precis ? precis : "&nbsp;" }}</dd>
                <dt>Notes</dt><dd>{{= notes ? notes : "&nbsp;" }}</dd>
                <dt>Duration</dt><dd>{{= duration ? duration : "&nbsp;" }}</dd>
                <dt>For Print</dt><dd>{{= print ? "Yes" : "No" }}</dd>
                <dt>Max People</dt><dd>{{= maximum_people ? maximum_people : "&nbsp;" }}</dd>
                <dt>Min People</dt><dd>{{= minimum_people ? minimum_people : "&nbsp;" }}</dd>
                <dt>Room</dt><dd>{{= room ? room : "&nbsp;" }}</dd>
                <dt>Start Time</dt><dd>{{= start_day_str ? start_day_str : "&nbsp;" }} {{= start_time ? start_time : "&nbsp;" }}</dd>
            </dl>
        </div>
        <!-- List of participants etc. -->
        <div>Moderators</div>
        <ul class="nav nav-list"><li class="divider"></li></ul>
        {{ _.each(moderators, function(person) { }}
        <div class="thumbnail clearfix">
            <small> {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}</small>
        </div>
        {{ }); }}
        <div>Participants</div>
        <ul class="nav nav-list"><li class="divider"></li></ul>
        {{ _.each(participants, function(person) { }}
        <div class="thumbnail clearfix">
            <small> {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}</small>
        </div>
        {{ }); }}
        <div>Reserved</div>
        <ul class="nav nav-list"><li class="divider"></li></ul>
        {{ _.each(reserves, function(person) { }}
        <div class="thumbnail clearfix">
            <small> {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}</small>
        </div>
        {{ }); }}
        <div>Invisible</div>
        <ul class="nav nav-list"><li class="divider"></li></ul>
        {{ _.each(invisibles, function(person) { }}
        <div class="thumbnail clearfix">
            <small> {{= person.first_name }} {{= person.last_name }}  {{= person.suffix }}</small>
        </div>
        {{ }); }}
    </div>
    {{ }; }}    
</script>

<script type="text/template" id="equipment-layout-template">
<section>
    <div id="equipment-control-div"></div>
    <div id="equipment-region-div"></div>
</section>
</script>

<script type="text/template" id="equipment-control-template">
<div>
    <button class="add-model-button btn-mini btn-primary pull-right ">
        add equipment
    </button>
</div>
</script>

<script type="text/template" id="item-control-template">
    <button class="add-model-button btn btn-primary btn-mini pull-left">New Item</button>
</script>


<script type="text/template" id="equipment-detail-template">
<li class="span12 clearfix">
    <div class="thumbnail clearfix">
        <div class="caption" class="pull-left">
            <button class="model-delete-button btn btn-primary btn-mini pull-right">
                <i class="icon-trash"></i>
            </button>
            <button class="model-edit-button btn btn-primary btn-mini pull-right">
                <i class="icon-pencil"></i>
            </button>
            <small>
                <dl class="dl-horizontal-small">
                    <dt>
                        Desc
                    </dt>
                    <dd>
                        {{= equipment_type_name ? equipment_type_name : "&nbsp;"}}
                    </dd>
                </dl> </small>
        </div>
    </div>
</li>
</script>

<script type="text/template" id="tag-context-layout-template">
<div class="thumbnail clearfix">
    <button class="model-add-tag-button btn btn-primary btn-mini pull-right" tagcontext="{{= context }}">
        Add
    </button>
    <span class="label label">{{= context }}</span>
    {{ _.each(tags, function(tag) { }}
    <span class="label label-info">{{= tag }} <a href="{{= '/tags/' + obj_id + '/remove?class=ProgrammeItem&context=' + context + '&tag=' + tag }}" class="tag-remove-link"><i class="icon-remove"></i></a></span>
    {{ }); }}
</div>
</script>

<script type="text/template" id="XXXX-XXXX-template">
</script>
