<!-- TODO: extend so that the class of the cell can be passed as an option -->
<%= render_cell "items/item_list", :javascript,
    :caption => "Program Items", 
    :pager => "#items-pager",
    :del => false,
    :edit => false,
    :add => false,
    :format_name => false,
    :duration => false,
    :room => false,
    :day => false,
    :time => false,
    :ref_number => false,
    :ignoreScheduled => true,
    :showControls => false,
    :loadNotifyMethod => "ScheduleApp.ItemManagement.onItemLoad"
    # :selectNotifyMethod => "ItemApp.PeopleManagement.showProgrammeItem"
    # :modelType => "ItemApp.ItemManagement.ProgramItem",
%>

<%= render_cell "schedule/manage", :javascript %>
<%= render_cell "schedule/manage", :templates %>

<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <div class="span12">
                <%= render_cell "items/item_list", :display %>
            </div>
        </div>
        <div class="row-fluid row-buffer">
            <div class="span12">
                <div id="conflict-view"></div>
            </div>
        </div>
    </div>
    <div class="span8" id="program-item-view">
        <div class="row-fluid">
            <div class="span12" id="grid-day-control-view"></div>
        </div>
        <div class="row-fluid">
            <div class="well span12" id="grid-view">
            </div>
        </div>
    </div>
</div>
