
<script type="text/template" id="grid-day-control-view-template">
    Day Controls
    <button class="prev-day">PREV</button>
    {{= currentDay }}
    <button class="next-day">NEXT</button>
</script>

<script type="text/template" id="grid-view-template">
    <div id="program-grid"></div>
</script>
