<div class='row-fluid'>
<div class="span9 offset3">
<h1>Edit My Account</h1>

<%= form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f, :locals => {:object => f, :button => "Update"} %>
<% end %>

<br /><%= link_to "My Profile", account_path %>
</div>
</div>
