<div class='row'>
<div class="col-xs-offset-3 col-xs-9">
<h1>Register</h1>
<%= form_for @user, :url => account_path, do |f| %>
  <%= render :partial => "form", :object => f, :locals => {:button => "Register"} %>
<% end %>
</div>
</div>