
<script type="text/template" id="survey-list-layout-template">
<section>
    <span class="label label-big"><%= t 'Surveys' %></span>
    <div id="survey-region-div"></div>
    <div id="survey-control-div"></div>
</section>
</script>

<script type="text/template" id="survey-template">
    <td>
    <a href="#survey-tab" data-toggle="tab" class="model-select-button">
        {{= name}}
    </a>
    </td>
    <td>
        <button class="model-edit-button btn btn-mini"><i class="icon-pencil"></i></button>
    </td>
    <td>
        <button class="model-delete-button btn btn-mini"><i class="icon-trash"></i></button>
    </td>
</script>

<script type="text/template" id="survey-control-template">
    <button class="add-model-button btn-mini btn-primary pull-left clearfix">
        <%= t 'add survey' %>
    </button>
</script>
