<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <% @menu.each do |k, v| %>
                <li><a href="<%= '/' + I18n.locale.to_s + v %>"><%= k %></a></li>
            <% end %>
        </ul>
    </div>
</div>
