<!-- Templates used for the reports -->

<script type="text/template" id="report-menu-template">
    Report menu
</script>

<script type="text/template" id="query-results-template">
    <table id="results-t" class="result-table"><tr><td/></tr></table>
    <div id="result-pager"></div>
</script>
