
<h3><%= group.name %></h3>
<p><%= group.description.html_safe %>
<% if group.survey_format && !group.survey_format.help.blank? %>
    <a class="survey-help" href="#" data-original-title="<%= group.survey_format.help %>"><i class='glyphicon glyphicon-info-sign'></i></a>
<% end %>
</p>

<div class="control-group">
    <% group.survey_questions.each do |question| %>
        <%=render :partial => 'question', :locals => {:question => question}%>
    <% end %>
</div>
