
<h3><%= group.name %></h3>
<p><%= group.description.html_safe %></p>
<%= group_help(group).html_safe %>

<div class="control-group">
    <% group.survey_questions.each do |question| %>
        <%=render :partial => 'question', :locals => {:question => question}%>
    <% end %>
</div>
