
<h3><%= group.name %></h3>
<p><%= group.description.html_safe %>
<% if group.survey_format && !group.survey_format.help.blank? %>
    <i class="glyphicon glyphicon-info-sign bpopover" data-placement="top" data-toggle="popover" data-content="<%= group.survey_format.help %>"></i>
<% end %>
</p>

    <% group.survey_questions.each do |question| %>
        <%=render :partial => 'question', :locals => {:question => question}%>
    <% end %>
