<div class='clear'></div>
<div class="survey-group">
    <h3><%= group.name %></h3> <!-- ADD group style-->
    <% content_tag :div, :class => "#{group.survey_format.style if group.survey_format}" do %>
        <%= group_help(group) %>
        <% content_tag :div, :class => "#{group.survey_format ? group.survey_format.description_style : ""}" do%>
            <%= group.description %>
        <%end%>
        <!-- TODO - deal with the alt text ????-->

        <!-- Display the questions within the group -->
        <% group.survey_questions.each do |question| %>
            <%=render :partial => 'question', :locals => {:question => question}%>
        <% end %>
    <% end %>
</div>
