<%#
#    TODO - have time input as seperate type
#
%>
<%question.survey_answers.each do |answer|%>
    <% if question.horizontal %>
        <label class="survey-checkbox-inline checkbox-inline col-sm-3">
    <% else %>
        <div class="checkbox">
        <label>
    <% end %>
        <%= check_box_tag "survey_response[#{question.id}][#{answer.id}]", "#{answer.answer}", @survey_response && @survey_response[question.id.to_s] ? @survey_response[question.id.to_s][answer.id.to_s] : false, :required => question.mandatory %>
        <%= answer.answer.html_safe %>
    </label>
    <% if !question.horizontal %>
        </div>
    <% end %>
<%end%>
