<%#
#
#     TODO - have time input as seperate type
# , :class =>  question.survey_format.answer_style
%>
<%question.survey_answers.each do |answer|%>
    <div class="radiobutton <%=question.survey_format.answer_style%>">
    <label>
        <%= radio_button_tag "survey_response[#{question.id}]", "#{answer.id}", @survey_response ? @survey_response[question.id.to_s] == answer.id.to_s : false %>
        <%= answer.answer.html_safe %>
    </label>
    </div>
<%end%>
