<%#
# This is the fragment for capturing the availability of a person...
%>
<%= text_field_tag "survey_response[#{ question.id }][question]", "#{@survey_response ? @survey_response[question.id.to_s]['response'] : ''}", :size => 100 %>

<div class=" availabilitySection grid_12">
    <div class="radiobutton">
        <label>
            <input type="radio" value="1" name="survey_response[#{ question.id }][question]" id="timedisable" checked="checked">
            I am available for Program for the complete duration of the convention.
        </label>
        <a><img src="/images/smerf_help.gif" alt="Help"></a>
    </div>
    <div class="radiobutton">
        <label><input type="radio" value="2" name="survey_response[#{ question.id }][question1]" id="timeselect">I plan to be at the convention. </label>
        <a><img src="/images/smerf_help.gif" alt="Help"></a>
    </div>
    <div class=" grid_12">
        <div class="smerfSubquestion grid_6">I will be available to be on Program beginning:</div>
        <div class="select grid_4 timeselect">
            <select name="survey_response[#{ question.id }][question2]">
                <option value="1">Friday, February 15</option>
                <option value="2">Saturday, February 16</option>
                <option value="3">Sunday, February 17</option>
            </select>
        </div>
    </div>
    <div class=" grid_12">
        <div class="smerfSubquestion grid_6">starting from:</div>
        <div class="select grid_4 timeselect">
            <select name="survey_response[#{ question.id }][question3]" >
                <option value="0">------</option>
<option value="1">10am</option>
<option value="2">11am</option>
<option value="3">Noon</option>
<option value="4">1pm</option>
<option value="5">2pm</option>
<option value="6">3pm</option>
<option value="7">4pm</option>
<option value="8">5pm</option>
<option value="9">6pm</option>
<option value="10">7pm</option>
<option value="11">8pm</option>
<option value="12">9pm</option>
</select></div></div><div class=" grid_12"><div class="smerfSubquestion grid_6">I will not be available for program after:</div><div class="select grid_4 timeselect">
<select name="survey_response[#{ question.id }][question4]">
<option value="3">Sunday, February 17</option>
<option value="2">Saturday, February 16</option>
<option value="1">Friday, February 15</option>
</select></div></div><div class=" grid_12"><div class="smerfSubquestion grid_6">ending at:</div><div class="select grid_4 timeselect">
<select name="survey_response[#{ question.id }][question5]" id="responses_g6s1q5_">
<option value="0">------</option>
<option value="1">10am</option>
<option value="2">11am</option>
<option value="3">Noon</option>
<option value="4">1pm</option>
<option value="5">2pm</option>
<option value="6">3pm</option>
<option value="7">4pm</option>
<option value="8">5pm</option>
<option value="9">6pm</option>
<option value="10">7pm</option>
<option value="11">8pm</option>
<option value="12">9pm</option>
</select></div></div>
<div class=" timeselect grid_12"><div class="checkbox"><label><input type="checkbox" value="1" name="survey_response[#{ question.id }][question6]" >
    I am extremely uncertain when I will be available to be on the Program </label>
 <a><img src="/images/smerf_help.gif" alt="Help"></a></div></div></div>
 