<% if @survey %>
    <div class="row survey-title-row">
        <div class="col-sm-12">
            <h1 class="survey-title"><%= (@survey.name).html_safe %></h1>
        </div>
    </div>
    <% if !@survey.header_image.empty? %>
        <div class="row">
            <div class="col-sm-12">
                <img src="<%= @survey.header_image if @survey.header_image %>" class="survey-title-image"/>
            </div>
        </div>
        <div class="voffset15"></div>
    <%end%>
    <div class="survey-thankyou row">
        <div class="col-md-12">
            <%= @survey.thank_you.html_safe %>
        </div>
    </div>
<% end %>
