<% if @survey %>
    <% if !@survey.header_image.empty? %>
        <div class="row">
            <div class="col-sm-12">
                <img src="<%= @survey.header_image if @survey.header_image %>" class="survey-title-image"/>
            </div>
        </div>
    <%end%>
    <h2><%= @survey.name %></h2>
    <div class="survey-thankyou"><%= @survey.thank_you.html_safe %></div>
<% end %>
