<!-- %= error_messages_for :phoneNumber % -->
<%= form_for @phoneNumber, :url => @urlstr, :html => {:class => "layerform", :id => "layerform", :'accept-charset' => 'UTF-8'} do |f| %>
<div class='address_phone'>
<div class='address_details'>
	<div class='phone'><div class='field_name'>Phone:</div><div class='field_value'><%= f.text_field :number %></div></div>
	<div class='phone_type'><div class='field_name'>Type:</div>
		<div class='field_value'><%= f.select :phone_type_id,
	    	PhoneTypes.find(:all).collect {|s| [s.name,s.id] },
	        {:include_blank => false}%>
		</div>
	</div>

	<div class='form-buttons'>
		<%= f.submit "Submit" %>
		<button type="button" class='jqmClose'>Close</button>
	</div>
</div>
</div>
<% end %>
<div id='form-response'>
</div>
