<div class='address'>
    <div class='address_phone'>
	  <div class='phone'>Phone: <%= @phoneNumber.number %></div>
	  <div class='phone_type'>Type: <%= PhoneTypes[@phoneNumber.phone_type_id].name %></div>
	</div>
</div>
