
<%= render_cell "publications/online", :javascript %>
<%= render_cell "publications/online", :templates %>

<div class="row">
    <div class="col-xs-2">
        <div class="gr-sidebar" role="complementary">
            <ul class="gr-sidenav nav nav-pills nav-stacked">
                <li>
                    <a href="#program_guide"><%= t "publications-program-guide" %></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <div id='report-form-area'></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id='report-results-area'></div>
    </div>
</div>

<!--
    Program Guide
    Table Tents
    Back of Badge Labels
    
    Publish
    Review what to Publish
    -->
