<h1>Emailreports#index</h1>
<p>Find me in app/views/emailreports/index.html.erb</p>

Pending: <%= @pendingCount%><br/>
Failed: <a href="/emailreports/failed"><%= @failedCount%></a><br/>
Sent: <a href="/emailreports/sent"><%= @sentCount%></a><br/>
