<h1>Emailreports#sent</h1>
<%@sent.each do |s|%>
<%if s.person != nil %>
<%=s.person.first_name%> <%=s.person.last_name%>, 
<%if (!s.person.getDefaultEmail().nil?) %>
    <%=s.person.getDefaultEmail().email%>
<%end%>
<br/>
<%end%>
<%end%>
