<div class='tags'>
  <% @allTagCounts.each do |context, tags| %>
    <div class="tag-group">
    <div class="tag-context-title"><%= context%></div>
    <% tags.each do |tag| %>
      <div class='tag'>
      	<div class="tag-name tag-select"><%= tag.name %></div><div class="tag-count">&nbsp;(<%= tag.count %>)</div>
	  </div>
    <% end %>
	</div>
  <% end %>
<div>
