<div class='tags'>
	<% @results.each do |obj| %>
		<%= obj.first_name %><br/>
    <% end %>
</div>
<div class='message' id='tab-messages'></div>
<div class="jqmWindow" id="edialog">Please wait...</div>
