<%= render_cell "participants/survey_review", :templates %>
<%= render_cell "participants/survey_review", :javascript %>

<%= render_cell "participants/participant_list", :javascript, 
    :caption => "participants-(accepted-invites)",
    :del => false,
    :edit => false,
    :add => false,
    :invite_status => false,
    :invite_category => false,
    :acceptance_status => false,
    :has_survey => false,
    :pager => "participants-pager",
    
    :pub_first_name => false,
    :pub_last_name => false,
    :pub_suffix => false,
    :extraClause => "extraClause[param]=person_con_states.acceptance_status_id&extraClause[value]=8",
    
    :onlySurveyRespondents => true,
    
    :selectNotifyMethod => "SurveyReviewApp.Reviews.showSurveySelector"
    %>

<div class="row">
    <div class="col-xs-4">
        <%= render_cell "participants/participant_list", :display,
            :pager => "participants-pager"
         %>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <div id="survey-selector"></div>
            </div>
            <div class="col-xs-12">
                <div id="survey-display"></div>
            </div>
        </div>
    </div>
</div>
