
<%= render_cell "mobile/theme", :javascript %>
<%= render_cell "mobile/theme", :templates %>

<div class="row-fluid">
    <div class="span5">
        <div id='phone-theme-ctl'></div>
    </div>
    <div class="span7">
        <div class="row-fluid">
            <div class="well span12" id="phone-view">
            </div>
        </div>
    </div>
</div>
