
<%= render_cell "mobile/theme", :javascript %>
<%= render_cell "mobile/theme", :templates %>

<div class="row">
    <div class="col-xs-5">
        <div id='phone-theme-ctl'></div>
    </div>
    <div class="col-xs-7">
        <div class="row">
            <div class="well col-xs-12" id="phone-view">
            </div>
        </div>
    </div>
</div>
