<% content_for :jsheader do %>
  <%= javascript_include_tag 'survey_respondents/review' %>
<% end %>
<div id="respondent_id" style="display : none"></div>
<div class="container_12">
<div class="grid_10">
    <table id="respondents">
    </table>
    <div id="pager">
    </div>
</div>
</div>
<div class="clear"></div>
<div class="container_12">
<div class="grid_10">
    <div id="tag-cloud" class="ui-widget ui-widget-content ui-corner-all grid_10">
        <div class="ui-widget-header ui-corner-top ui-helper-clearfix">
            Participant Survey
        </div>
    	<div id="survey" class="ui-widget-content">
		</div>
    </div>
</div>
</div>
</div>
