
<div class='survey_responses'>
<% if @respondent && @respondent.survey_respondent_detail %>
    <%= survey_to_html(@survey,@respondent.survey_respondent_detail, false) %>
<% else %>
<p>No Survey</p>
<% end %>
</div>

