
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div>
        <ul class="nav navbar-nav">
            <% @menu.each do |k, v| %>
                <li class="<%= 'active' if request.fullpath == v[:target] %>"><a href="<%= '/' + I18n.locale.to_s + v[:target] %>">
                    <i class="icon-<%= v[:icon]%>"></i> <%= t k %></a>
                </li>
            <% end %>
        </ul>
    </div>
</nav>
