<!-- This should contain the grid of participants -->
<!--

1. We need the collection of people
2. We need the backbone grid
3. Then we display it

-->

<div class="span10">
<table id="participants">
</table>
<div id="pager">
</div>
</div>


<!-- TODO add deltail that gets filled in when a person selects a row -->
