<%#
%>
<div>
    <div class='line'><div class='field_name'>Style CSS</div><div class='field_value'><%= format_detail.style %></div></div>
    <div class='line'><div class='field_name'>Answer Style CSS</div><div class='field_value'><%= format_detail.answer_style %></div></div>
    <div class='line'><div class='field_name'>Help Text</div><div class='field_value'><%= format_detail.help %></div></div>
</div>
<!--

    help

    style     
    description style
    answer style
    
    question style
    textbox style
    textfield style
    -->
