<div class='survey_detail'>
	<div class='line'><div class='field_name'>Name:</div><div class='field_value'><%= @survey.name %></div></div>
	<div class='line'><div class='field_name'>Welcome:</div><div class='field_value'><%= @survey.welcome %></div></div>
	<div class='line'><div class='field_name'>Thank You:</div><div class='field_value'><%= @survey.thank_you %></div></div>
</div>
