/* these are shared styles between planner and sites */

div.has-error p.help-block:not(:empty), small.help-block:not(:empty) {
    color: white;
    background-color: red;
    border-radius: 6px;
    padding: 4px 5px 4px 5px;
}

.modal-msg-container, #alert-area {
  width: 100%;
  padding: 5px;

  &.active {
    z-index: 1000;
  }
}

.modal-msg-container#bottom-msg {
  overflow: hidden;
}

.modal-msg {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px;
  opacity: 0;
  position: relative;
  padding-right: 50px;
  border-width: 1px;
  border-style: solid;
  display: block;

  #msg {
    display: inline;
  }

  button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: inherit;
  }

  & + .modal-msg {
    margin-top: 5px;
  }

  &.indicatorMsg {
    float: right;
    width: auto;
    display: inline-block;

    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
}

#alert-area.active {
  margin-bottom: 20px;
}


/* Placed on the body while a modal is open to prevent scrolling. */
body.showing-modal {
  overflow: hidden;
}