/* these are shared styles between planner and sites */

div.has-error p.help-block:not(:empty), small.help-block:not(:empty), div.error p.help-block[data-error]:not(:empty) {
    color: white;
    background-color: red;
    border-radius: 6px;
    padding: 4px 5px 4px 5px;
}
#alert-area:not(:empty) {
  width: 100%;
  padding: 5px 0 5px 0;

  &.active {
    z-index: 1000;
  }
}

.modal-msg-container:not(:empty) {
  width: 100%;
  padding: 5px;

  &.active {
    z-index: 1000;
  }
}

.modal-msg-container#bottom-msg {
  overflow: hidden;
}

.modal-msg {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 10px;
  opacity: 0;
  position: relative;
  padding-right: 50px;
  border-width: 1px;
  border-style: solid;
  display: block;

  #msg {
    display: inline;
  }

  button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: inherit;
  }

  & + .modal-msg {
    margin-top: 5px;
  }

  &.indicatorMsg {
    float: right;
    width: auto;
    display: inline-block;

    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
}

#alert-area.active {
  margin-bottom: 20px;
}


/* Placed on the body while a modal is open to prevent scrolling. */
body.showing-modal {
  overflow: hidden;
}

.popover {
  word-break: break-word;
}

ul.form-control {
  list-style-type: none;
  height: auto;
  border: none;
  padding-left: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control li input[type="radio"] {
  margin-right: 7px;
  vertical-align: top;
}
.form-control li label {
  font-weight: normal;
  max-width: 90%;
}
ul#filter_by li label {
  max-width: 100%;
}

// Social media styles
.instagram {
  background: #ccc;

  border-radius: .2em;
  height: 1em;
  position: relative;
  width: 1em;
  font-size: 1.8em;
  margin-top: 0.05em;

  &:before,
  &:after {
    color: #fff;
    content: '';
    display: block;
    position: absolute;
    border: .075em solid;
  }

  &:before {
    border-radius: inherit;
    height: .75em;
    transform: translate(.125em, .125em);
    width: .75em;
  }

  &:after {
    border-radius: 1em;
    box-shadow: .2em -.2em 0 -.16em;
    height: .4em;
    transform: translate(.3em, .3em);
    width: .4em;    
  }
}

.gr-social-icon {
    display: inline-block;
    vertical-align: top;

    .fa-square {
        color: #ccc;
    }

    &:hover:not(.disabled), &.active {
        text-decoration: none;

        &.facebook {
            .fa-square {
                color: #3b5998;
            }
        }
        &.twitter {
            .fa-square {
                color: #55acee;
            }
        }
        &.linkedin {
            .fa-square {
                color: #007bb6;
            }
        }
        &.youtube {
            color: #cd201f;
        }
        &.twitch {
            .fa-square {
                color: #6441a5;
            }
        }
        &.instagram {
            background:
                /////// Use radial gradients to get the rounded
                /////// gradient effect in each corner

                // left bottom
                radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                // left top
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                //  right top
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                // right bottom
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                /////// create a base coat to smooth
                /////// corner gradients
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        }
        &.reddit {
            .fa-square {
                color: #ff4500;
            }
        }
        &.website {
            .fa-square {
                color: green;
            }
        }
        &.other-social {
            .fa-square {
                color: gray;
            }
        }
    }
}

.flickr {
    color: #ccc;

    &.disabled {
      color: #ccc;
      text-decoration: none;
    }

    &:hover:not(.disabled), &.on-dashboard, &.active {
        color: #fff !important;
        text-shadow: 1px 1px 1px #999;
        text-decoration: none;
        background-image: linear-gradient(to right, #0062da 50%, #ff0084 50%);   
        background-size: 80% 80%; 
        background-position:center;
        background-repeat: no-repeat;
    }
}

.social-media-container {
    .tooltip-inner {
        max-width: none;
    }
}






//

/* ---- ribbon ----- */
#ribbon-container {
    position: absolute;
    top: 10px;
    right: -10px;
    overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
    font-size: 13px; /* font-size and line-height must be equal so we can account for the height of the banner */
    line-height: 13px;
    z-index: 900;
}
/* an adjustment for the planner use case */
#ribbon-container.planner {
  top: 20px;
  right: 5px;
}
.item-big-title #ribbon-container {
    right: 5px;
}
div.card-size-10 #ribbon-container {
    right: -13px;
}


#ribbon-container:before {
    content:"";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    border-top: 18px solid rgba(0,0,0,.3); /* These 4 border properties create the first part of our drop-shadow */
    border-bottom: 18px solid rgba(0,0,0,.3); 
    border-right: 18px solid rgba(0,0,0,.3);
    border-left: 18px solid transparent;
}

#ribbon-container:after { /* This adds the second part of our dropshadow */
    content:"";
    height: 3px;
    background: rgba(0,0,0,.3);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 36px;
    right:3px;
}

#ribbon-container a {
    display:block;
    padding:10px;
    position:relative; /* allows us to position our pseudo-elements properly */
    background:#0089d0;
    overflow:visible;
    height:36px;
    margin-left:18px;
    color:#fff;
    text-decoration:none;
}

#ribbon-container a:after { /* this creates the "folded" part of our ribbon */
    content:""; 
    height: 0;
    width: 0;
    display:block;
    position:absolute;
    bottom:-10px;
    right:0;
    border-top: 10px solid #004a70; 
    border-right: 10px solid transparent;
}

#ribbon-container a:before { /* this creates the "forked" part of our ribbon */
    content:"";
    height: 0;
    width: 0;
    display:block;
    position:absolute;
    top:0;
    left:-18px;
    border-top: 18px solid #0089d0; 
    border-bottom: 18px solid #0089d0; 
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}



#ribbon-container a.green {
    background: green;
}
#ribbon-container a.green:before {
    border-top: 18px solid green; 
    border-bottom: 18px solid green; 
}
#ribbon-container a.green:after {
    border-top: 10px solid green;
    border-right: 10px solid transparent; 
}
#ribbon-container a.green:hover {
    background: #00aa00; 
}
#ribbon-container a.green:hover:before {
    border-top: 18px solid #00aa00; 
    border-bottom: 18px solid #00aa00; 
}
#ribbon-container a.green:hover:after {
    border-top: 10px solid #00aa00;
    border-right: 10px solid transparent; 
}

#ribbon-container a.amber {
    background: #f0ad4e;
}
#ribbon-container a.amber:before {
    border-top: 18px solid #f0ad4e; 
    border-bottom: 18px solid #f0ad4e; 
}
#ribbon-container a.amber:after {
    border-top: 10px solid #f0ad4e;
    border-right: 10px solid transparent; 
}
#ribbon-container a.amber:hover {
    background: #ffb853;
}
#ribbon-container a.amber:hover:before {
    border-top: 18px solid #ffb853; 
    border-bottom: 18px solid #ffb853; 
}
#ribbon-container a.amber:hover:after {
    border-top: 10px solid #ffb853;
    border-right: 10px solid transparent; 
}


#ribbon-container a.red {
    background: #ce4844;
}
#ribbon-container a.red:before {
    border-top: 18px solid #ce4844; 
    border-bottom: 18px solid #ce4844; 
}
#ribbon-container a.red:after {
    border-top: 10px solid #ce4844; 
    border-right: 10px solid transparent; 
}
#ribbon-container a.red:hover {
    background: #f0544f;
}
#ribbon-container a.red:hover:before {
    border-top: 18px solid #f0544f; 
    border-bottom: 18px solid #f0544f; 
}
#ribbon-container a.red:hover:after {
    border-top: 10px solid #f0544f;
    border-right: 10px solid transparent; 
}

#ribbon-container a:hover {
background:#009ff1;
}

#ribbon-container a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
    border-top: 18px solid #009ff1; 
    border-bottom: 18px solid #009ff1;
}

