/* Variables that will set values depending on the user's language */

$w2: 650px; // under this width, we collapse to a pull-down menu instead of a regular menu

$w3: 1350px; // small toolbar width in English
$w4: 1440px; // medium toolbar width in English 

$w3f: 1339px;  // small toolbar width in French
$w4f: 1487px; // medium toolbar width in French

$iPadScreenWidth: 1024px;

/* Bootstrap overide */
.dl-horizontal dt {
	width: 200px;
}
.dl-horizontal dd {
	margin-left: 220px;
}
body:lang(fr) .dl-horizontal dt {
    width: 250px;
}
body:lang(fr) .dl-horizontal dd {
	margin-left: 270px;
}
/* the following are general purpose vertical spacers since Bootstrap does not offer this */
.voffset0  { margin-top: 0; }
.voffset2  { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset20 { margin-top: 20px; }
.voffset30 { margin-top: 30px; }
.voffset40 { margin-top: 40px; }
.voffset60 { margin-top: 60px; }
.voffset80 { margin-top: 80px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }

.loffset2  { margin-left: 2px; }
.loffset5 { margin-left: 5px; }
.loffset10 { margin-left: 10px; }
.loffset15 { margin-left: 15px; }
.loffset20 { margin-left: 20px; }
.loffset30 { margin-left: 30px; }
.loffset40 { margin-left: 40px; }
.loffset60 { margin-left: 60px; }
.loffset80 { margin-left: 80px; }
.loffset100 { margin-left: 100px; }
.loffset150 { margin-left: 150px; }

.boffset0  { margin-bottom: 0; }
.boffset2  { margin-bottom: 2px; }
.boffset5 { margin-bottom: 5px; }
.boffset10 { margin-bottom: 10px; }
.boffset15 { margin-bottom: 15px; }
.boffset20 { margin-bottom: 20px; }
.boffset30 { margin-bottom: 30px; }
.boffset40 { margin-bottom: 40px; }
.boffset60 { margin-bottom: 60px; }
.boffset80 { margin-bottom: 80px; }
.boffset100 { margin-bottom: 100px; }
.boffset150 { margin-bottom: 150px; }

/* Styles for the header logo */
body:lang(en) #event-planner-logo-link-container {
   background: url('/assets/grenadine-event-planner-en.png') 0 0 no-repeat;
}
body:lang(fr) #event-planner-logo-link-container {
   background: url('/assets/grenadine-event-planner-fr.png') 0 0 no-repeat;
}
#event-planner-logo-link-container {
	height: 51px;
	width: 217px;
	margin-left: 00px;
}
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
	body:lang(fr) #event-planner-logo-link-container {
		background: url('/assets/grenadine-event-planner-fr-102.png') 0 0 no-repeat;
		background-size: 100%;
		
        }
    body:lang(en) #event-planner-logo-link-container {
        background: url('/assets/grenadine-event-planner-en-102.png') 0 0 no-repeat;
        background-size: 100%;
        
        }
	}

.conference-title {
	color: #808284;
	font-size: 12pt;
	margin-top: 17px;
	font-weight: 200;
	padding-left: 2px;
	letter-spacing: 2px;
	//text-transform:lowercase;
}

#change-history .panel-collapse .dl-horizontal {
    padding: 10px;
    margin-bottom: 0px;
}

/* UI changes to bootstrap elements */
.ui-droppable {
	/* padding-bottom: 0px; */
}

/* Styles for the login form */
#login-form {
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.login-field {
	position:relative;
	min-width: 30px;
}
#login-form-text-helpers {
  text-align: center;
}

/* Styles for the menus and headers in the app */

#app-menu-div ul {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
#app-menu-div.affix {
  top: 4px;
  z-index:799;
  width:100%;
}

#app-sub-menu-div.affix {
  top: 53px;
  z-index:800;
  width:100%;
}
#application-header {
  background-color: white;
  margin-top: 0px;
  margin-bottom: 3px;
  
 }
 #logo-bar.gradient {
   top:4px;
   width: 100%;
   z-index:800;
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMDFmM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(45deg,  rgba(255,255,255,0.05) 19%, rgba(255,255,255,0.14) 27%, rgba(192,31,63,1) 100%);
   background: -webkit-gradient(linear, left bottom, right top, color-stop(19%,rgba(255,255,255,0.05)), color-stop(27%,rgba(255,255,255,0.14)), color-stop(100%,rgba(192,31,63,1)));
   background: -webkit-linear-gradient(45deg,  rgba(255,255,255,0.05) 19%,rgba(255,255,255,0.14) 27%,rgba(192,31,63,1) 100%);
   background: -o-linear-gradient(45deg,  rgba(255,255,255,0.05) 19%,rgba(255,255,255,0.14) 27%,rgba(192,31,63,1) 100%);
   background: -ms-linear-gradient(45deg,  rgba(255,255,255,0.05) 19%,rgba(255,255,255,0.14) 27%,rgba(192,31,63,1) 100%);
   background: linear-gradient(45deg,  rgba(255,255,255,0.05) 19%,rgba(255,255,255,0.14) 27%,rgba(192,31,63,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#c01f40',GradientType=1 );
   border:0px;
   //margin-bottom: 25px;
   border-bottom: 1px solid #E7E7E7;
 }
 #event-planner-logo-link-container {
   padding:0 0 0 10px;
 }
#grenadine-collapsed-button
{
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
#grenadine-collapsed-button span.icon-bar
{
  background-color:#c01f40;
  opacity: 0.3;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    color: black;
    border-bottom: solid 3px #428bca;
    margin-bottom: -3px;
    
}
#grenadine-application-menu.navbar-default, #grenadine-sub-application-menu.navbar-default {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
#grenadine-application-menu.navbar {
    border-right: none;
    border-left: none;
}

/*---------2nd level menu -------------------------------------------------------------------------- */
#grenadine-sub-application-menu li:after {
    content: '';
    border-right: 1px solid #DDD;
    position: absolute;
    height: 50%;
    right: 0;
    top: 25%;
}
#grenadine-sub-application-menu li:last-of-type:after {
    content: '';
    border-right: none;
}
#grenadine-sub-application-menu li:last-of-type {
    border-right: none;
}
#grenadine-sub-application-menu {
    background-color: #e7e7e7;

}

#grenadine-sub-application-menu.active a {
    background-color: white;
    margin-bottom: 0px;
}
#grenadine-sub-application-menu.navbar, #grenadine-sub-application-menu nav.navbar.navbar-default, #app-sub-menu-div {
    height: 39px;
    min-height: 39px;
}
#grenadine-sub-application-menu.navbar-default .navbar-nav > .active > a:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #428bca;
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 50%;
    left: calc(50% - 7px);
}
#grenadine-sub-application-menu .navbar-nav {
    //margin: 0 auto;
    //display: table;
    //table-layout: fixed;
    //float:none;
    height: 40px;
}
#grenadine-sub-application-menu .navbar-nav li a {
    //width: 100px;
    //height: 100px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}
#grenadine-application-menu .nav > li > a {
    padding: 15px 14px;
}
#grenadine-sub-application-menu .navbar-nav li.active {
    font-weight: bold;
    
}

/*----- End 2nd level menu --------------------------------------------------------------------------*/

#right-menu-navbar ul.dropdown-menu li a, #right-menu-navbar li.dropdown.open a {
    color: black;
}

#collapse-1 a {
  color: #676767
}
#top-colored-line {
    background-color: #c01f40;
    position: fixed; 
    height: 4px; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 801;
}
#logo-bar {
  margin-bottom:0;
  border-radius: 0px;
  
}
#grenadine-sub-application-menu,
#grenadine-application-menu {
  border-radius:0px;
  
  border: 0px 0px 0px 0px;
  margin-bottom: 0px;
  
}
@media all and (max-width: $w2) {
	#grenadine-application-menu {
		box-shadow: none;
		z-index: 810;
	}
	#grenadine-sub-application-menu {
	  z-index: 799;
	}	
}

/* This is the case when we have only enough space for the fully-collapsed menu */
  #user-menu {
    height: 50px;
  }
  #app-menu-div.affix {
    z-index: 801;
    width: 100%;
  }
  #app-sub-menu-div.affix {
	top: 53px;
	z-index: 800;
	width:100%;
  }
/* This is the case when we have only enough space for the medium toolbar but on 2 separate lines. In this case we can use a large font. */
@media all and (min-width: $w2)
{
  #user-menu {
    height: 100px;
  }
  #app-sub-menu-div.affix {
  top: 104px;
  z-index:802;
  width:100%;
  }
  #collapse-2 {
  	font-size: 14px;
  }
}
/* This is the case when we have only enough space for the medium toolbar but on 1 single line, for English text */
@media all and (min-width: $w3)
{
  body:lang(en) #user-menu {
    height: 50px;
  }
  body:lang(en) #app-sub-menu-div.affix {
	  top: 53px;;
	  z-index:802;
	  width:100%;
  }
  body:lang(en) #collapse-2 {
  	font-size: 12px;
  }
}
/* This is the case when we have only enough space for the medium toolbar but on 1 single line, for French text */
@media all and (min-width: $w3f)
{
  body:lang(fr) #user-menu {
    height: 50px;
  }
  body:lang(fr) #app-sub-menu-div.affix {
	  top: 53px;;
	  z-index:802;
	  width:100%;
  }
  body:lang(fr) #collapse-2 {
  	font-size: 12px;
  }
}
/* This is the best-case scenario, the case when we have enough space for the full-size toolbar, for English */
@media all and (min-width: $w4) 
{
  body:lang(en) #user-menu {
    height: 50px;
  }
  body:lang(en) #app-sub-menu-div.affix {
	  top: 53px;;
	  z-index:802;
	  width:100%;
  }
  body:lang(en) #collapse-2 {
  	font-size: 14px;
  }
}
/* This is the best-case scenario, the case when we have enough space for the full-size toolbar, for French */
@media all and (min-width: $w4f) 
{
  body:lang(fr) #user-menu {
    height: 50px;
  }
  body:lang(fr) #app-sub-menu-div.affix {
	  top: 53px;;
	  z-index:802;
	  width:100%;
  }
  body:lang(fr) #collapse-2 {
  	font-size: 14px;
  }
}
#user-sub-menu {
  height: 40px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: -1px;
}
@media all and (max-width: 1116px) and (min-width: 768px) {
    
    body:lang(en) #grenadine-sub-application-menu {
        height: 80px;
    }
    body:lang(en) #user-sub-menu {
        height: 80px;
    }
}
@media all and (max-width: 1214px) and (min-width: 768px) {
    
    body:lang(fr) #grenadine-sub-application-menu {
        height: 80px;
    }
    body:lang(fr) #user-sub-menu {
        height: 80px;
    }
}
#menu-separator-div {
  height: 20px;
  clear: left;
}
#menu-separator-div.affix {
    top: 94px;
}
@media all and (min-width: $w2)
{
	#collapse-2 { 
	  padding-left:0px; padding-rignt: 0px;
	  }
	#collapse-4 { 
		padding-left:0px; padding-rignt: 0px;
		
		}
}
#right-menu-navbar a {
	color: #cccccc;
}
#right-menu-navbar li a:hover {
	background-color: #be1f41;
	color: #ffffff;
}
#right-menu-navbar a:hover {
	color: #222222;
}
/* Styles for the footer portion of the app */

    body  {
        margin-bottom: 55px;
    }



    .footer {
        height: 35px;
    }
    #grenadine-footer-left-portion {
        display: none;
    }

@media (min-width: $screen-md-min) {

    #grenadine-footer-left-portion {
        display: block;
    }
    
}

#grenadine-footer, #grenadine-footer a:link, #grenadine-footer a:visited {
  background-color: #32363e;
  color:#CCC;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 9px;
  padding-bottom: 10px;
}
#grenadine-footer-left-portion {
  text-align:left;
}
#grenadine-footer a:hover {
    color: white;
}
#grenadine-footer-right-portion {
  text-align:right;
}
#debug-info {
  padding-top: 15px;
  color: grey;
  display: none;
}

/* General styles that apply to the whole app */
#main-screen-container {
  width:97%;
  //margin-top: 40px;
  /*
  @media all and (min-height: 500px) { min-height: 400px; }
  @media all and (min-height: 600px) { min-height: 500px; }
  @media all and (min-height: 700px) { min-height: 500px; }
  @media all and (min-height: 800px) { min-height: 550px; }
  @media all and (min-height: 900px) { min-height: 650px; }
  @media all and (min-height: 1000px) { min-height: 750px; }
  */
}

div.select2-container.select2-container-multi.form-control {
    height: auto;
    padding-bottom: 0px;
}
.select2-container-multi ul.select2-choices {
    padding: 0;
    margin: 0;
    //padding-top: 5px;
    //margin-bottom: -4px;
    border: none;
    background-color: #fff;
    background-image: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 0;
}
.left-jqgrid {
    padding-left: 0;
}
.right-jqgrid {
    padding-right: 0;
}

.accordion-heading {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

.gr-sidebar {
	background-color: #f8f8f8;
	margin-bottom: 15px;
}

/* Fix for checkbox sizing */
input[type="checkbox"] {
    height : 14px;
    font-size : 14px;
}

#debug-info {
	display:none;
}

/*
 * 
 */
#loading{
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}

.gr-color-choice {
    //border-style : solid;
    background-color: #FFFFFF;
    //border-color: #DDDDDD;
    //border-radius: 4px 4px 4px 4px;
    //border-width: 1px;
    //box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    font-size: 12px;
}

 .row .gr-color-choice h5 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 17px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
    color: #555;
    line-height: 1.5;
}
.row .gr-color-choice div {
    margin-top: 5px;
}
.row .gr-color-choice button {
    height: 45px;
    width: 45px;
    padding: 0;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.row .gr-color-choice button:before {
    // content:url('/assets/ui-colorpicker.png');
    position: absolute;
}
.gr-subrow {
    margin-left: 0;
    margin-right: 0;
}

.big-swatch {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    
}
.med-swatch {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    float: left;
}


.form-horizontal .gr-form-group {
    margin-left: 0;
    margin-right: 0;
}

.panel-drawer {
    position: fixed;
    left: -33%; /*right or left and the width of your navigation panel*/
    width: 33%; /*should match the above value*/
    background-color: white;
    z-index: 99999;
    overflow : auto;
    margin-left: 0px;
    margin-right: 0px;
}

.form-control {
    padding: 4px;
}

.field-postal_address .form-control {
  height: auto;  
}

.form-row {
    margin-bottom: 15px;
}

.mapping-assigned {
    color: lightgray;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 0 100px 200px;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

input[type="file"] {
    display: block;
}
input[type="checkbox"] {
    box-shadow: none;
}
.form-horizontal input[type="checkbox"] {
    margin-top: 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
    border-top: 3px #d52348 solid;
}
.nav-tabs > li a {
    border-top: 3px solid white;
} 
.nav-tabs > li a:hover {
    border-top: 3px solid rgb(238, 238, 238);
}
.spinner {
    margin-top: 50px;
}
#item-tabs.panel-body, #report-panel-body.panel-body, #room-panel-body.panel-body {
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100px;
}
#report-panel-body ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    
}
#report-panel-body ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 35px;
    background-image: url('/assets/icons/report-icon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0px center; 
    
}
#report-panel-body ul li::before {
    
}
.report-title h4 {
    font-size: 24px;
}

.right-bar-action-group h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-top: 17px;
}
.right-bar-action-group h5:first-of-type {
    margin-top: 0px;
}

.right-bar-action-group span.glyphicon, .right-bar-action-group i.fa {
    color: #BBB;
    font-size: 12px;
    margin-right: +3px;
}
.right-bar-action-group i.fa {
    font-size: 14px;
}
.tab-pane.active h5 {
    line-height: 1.5;
    font-weight: bold;
    color: #555;
    //top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

h5.venues {
    line-height: 1.5;
    font-weight: bold;
    color: #555;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    //height: 8px;
    //margin-bottom: 20px;
    
}
//h5.venues:first-line { background-color: white; }
//h5.venues:after { content: '\0000a0 \0000a0'; }

.contact-details-div {
    padding-top: 0px;
    padding-bottom: 0px;
}
.contact-details-div .label {
    height: 22px;
    margin-right: 5px;
    padding-top: 4px;
}
.default-label {
    color: #5cb85c;
    font-size: 11px;
    padding-top: 3px;
    margin-right: 8px;
}
#general-contact-view {
    //background-color: #EEE;
    min-height: 100px;
    
}
.minor-text {
    color: #ddd;
    font-style: italic;
}
a.minor-link {
    color: #AAA;
}
/* @group Blink */

.blink {
    -webkit-animation: blink 2s ease-in-out infinite;
    -moz-animation: blink 2s ease-in-out infinite;
    -ms-animation: blink 2s ease-in-out infinite;
    -o-animation: blink 2s ease-in-out infinite;
    animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.50; }
    100% { opacity: 1; }
}



/* @end */
.medium-text {
    color: #bbb;
}
.top-tag-filters {
    margin-bottom: 7px;  
}
.top-tag-filters:empty {
    margin-bottom: 0px;  
}

#item-tag-cloud .panel-group, #participant-tag-cloud .panel-group {
    margin-bottom: 5px;
    
}
#item-tag-cloud .panel-heading, #participant-tag-cloud .panel-heading {
    padding: 6px 10px 6px 10px;
}
#item-tag-cloud .panel-body, #participant-tag-cloud .panel-body {
    border-right: none;
    border-left: none;
    border-bottom: none;
    overflow: hidden;
}
h5.tag-panel-title {
    text-transform: none;
    font-weight: normal;
}
#item-tag-cloud .panel-body, #participant-tag-cloud .panel-body {
    min-height: 0;
    padding: 10px 10px 10px 10px;
}
.dl-horizontal-small dd { min-height: 20px;}
.dl-horizontal.dt10 dt, .dl-horizontal-small.dt10 dt { width: 10%; }
.dl-horizontal.dt20 dt, .dl-horizontal-small.dt20 dt { width: 20%; }
.dl-horizontal.dt30 dt, .dl-horizontal-small.dt30 dt { width: 30%; }
.dl-horizontal.dt35 dt, .dl-horizontal-small.dt35 dt { width: 35%; }
.dl-horizontal.dt35 dd { margin-left: calc(35% + 10px); }
.dl-horizontal.dt40 dt, .dl-horizontal-small.dt40 dt { width: 40%; }
.dl-horizontal.dt50 dt, .dl-horizontal-small.dt50 dt { width: 50%; }
.dl-horizontal.dt60 dt, .dl-horizontal-small.dt60 dt { width: 60%; }
.dl-horizontal.dt70 dt, .dl-horizontal-small.dt70 dt { width: 70%; } 

.dl-airy dd {
    margin-bottom: 15px;
}
.nav-tabs > li > a.dropdown-toggle {
    margin-right: 0px;
}
.h3-underlined {
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
}
.h3-subtitle {
    font-size: 75%;
    color: rgba(80%,80%,80%,100%);
    margin-top: +6px;
    
}
h3:first-child {
    margin-top: 0;
}
.decorative-images img {
    display: inline;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 100%;
}
.decorative-images.thumbnail {
    margin-bottom: 0px;
}
@media (min-width: $screen-sm-min) {
    
    .col-fixed-large {
        display: none;
    }
    
    .col-fixed-small {
        display: none;
    }    
    
    .col-right-offset-large { }

    .col-right-offset-small { }
    
    #right-panel-action-group { display: none; }    
    
}
//display the right panels only if screen is larger than iPad landscape (1024px)
@media (min-width: $screen-md-min) {

    .col-fixed-large {
        display: block;
        //width: 250px;
        //position: fixed;
        overflow-y: auto;
        //right: 25px;
        //max-height: 500px;
        height: 100%;
        
    }
    
    .col-fixed-large::-webkit-scrollbar, #recent-activity-panel-inside::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }
    .col-fixed-large::-webkit-scrollbar-thumb, #recent-activity-panel-inside::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    .col-fixed-large::-webkit-scrollbar-button, #recent-activity-panel-inside::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    .col-fixed-large::-webkit-scrollbar-corner, #recent-activity-panel-inside::-webkit-scrollbar-corner {
        background-color: transparent;
    }
    
    .col-fixed-small {
        display: block;
        width: 75px;
        position: fixed;
        right: 25px;
        height: 100%;
    }
    
    .col-right-offset-large {
       padding-right: 275px;
    }

    .col-right-offset-small {
        padding-right: 60px;
    }
    
    #right-panel-action-group { display: block; }

}

.overview-detail {
    border-bottom: 1px #ccc solid;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
}

/* For formatting backbone forms */

.bbf-datetime.form-group {
    margin-left: 0;
    margin-right: 0;
    max-width: 255px;
}
input[type="number"] {
    max-width: 150px;
}

p.help-block {
    font-size: 12px;
}

// Only for datetime picker for items ....
.form-horizontal.item-form .day:not(.disabled) {
    background: lightblue none repeat scroll 0 0;
}

/* Callouts */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-nopad {
  margin: 0;
  padding: 5px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.color-control {
  display: block;
  height: 100%;
  width: 100%;  
}

/* Selected row in a table */
tbody tr.info {
    border-left: 3px #d52348 solid;
    
}
tbody tr.info td {
    
}
tbody tr.info td a {
    text-decoration: none;
    padding-left: 5px;
    
}


/* Tooltips */
.bpopover {
    color: #CCC;
    font-size: 13px;
    padding-left: 3px;
}
h3 i.bpopover {
    padding-left: 7px;
}
.popover {
    border:1px solid #DCA; 
    background:#fffAF0;
    padding: 0px;
}
.popover-content {
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 125%;
    color: #111;
    font-weight: normal;
    
}
.popover-title {
    font-weight: bold;
    background:#f9f4e7;
    padding-left: 12px;
    padding-right: 12px;
} 
.popover.right .arrow:after {
  border-right-color: #fffAF0;
}
.popover.top .arrow:after {
  border-top-color: #fffAF0;
}
.popover.bottom .arrow:after {
  border-bottom-color: #f9f4e7;
}
.popover.right .arrow {
  border-right-color: #DCA;
}
.popover.top .arrow {
  border-top-color: #DCA;
  margin-left: -10px;
}
.popover.bottom .arrow {
  border-bottom-color: #DCA;
  margin-left: -10px;
  
}


a.mtooltip {
    outline:none; 
    font-size: 13px; 
    padding-left: 5px;
     
    }
a.mtooltip::before {
    content: "  ";
}
a.mtooltip strong {line-height:30px;}
a.mtooltip:hover {text-decoration:none;} 
a.mtooltip span {
    z-index:10001;
    display:none; 
    padding:14px 20px;
    margin-top:-30px; 
    margin-left:28px;
    width:300px;
    line-height:16px;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    white-space: normal;
    
}
a.mtooltip i {
    color: #CCC;
}
a.mtooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#111;
    border:1px solid #DCA; 
    background:#fffAF0;
}
    
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.mtooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
/* TASKS */
.item.task-completed td, .item.task-completed td a {
    text-decoration: line-through;
    color: #CCC;
}
.item.task-completed td a.btn.btn-info.btn-sm  {
    background-color: #EEE;
    border-color: #DDD;
}
.task-priority-high {
    
}
.task-priority-urgent {
    color: white;
}
.task-priority-completed {
    text-decoration: none;
    color: #CCC;    
}
.task-state-completed {
    
}
.task-state-assigned {
    
}
/* for CKEditor */
.cke_button_label.cke_button__templates_label{
   display: inline;
   color: red;
   font-weight: bold;
}
.cke_button_label.cke_button__insert-grenadine-custom-fields_label { 
    display: inline; 
}
/* This style identifies visually the editable areas in the mail templates */
.grenadine-editable, a span.grenadine-editable {
    border: 1px blue dashed;
    padding: 3px;
}
.grenadine-editable, a span.grenadine-editable {
    border: none;
}

/* FINANCE */
.currency {
    color: #888;
}

/* BOOTSTRAP TABLES */
.table tbody tr td, .table thead tr th {
    border-left: none;
    border-right: none;
}
.table tbody tr td.table-finance-cell {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
.modal-content {
    border: 3px #CCC solid;
}

.modal-extra-lg {
  width: 90%;
}

/* NOTES */
textarea.form-control.notes-text-area {
    padding: 10px;
    height: 300px;
    //background-color: #ffc;
    /* Firefox */
    -moz-box-shadow:3px 3px 5px rgba(150,150,150,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 3px 3px 5px rgba(150,150,150,.7);
    /* Opera */
    box-shadow: 3px 3px 5px rgba(150,150,150,.7);
    border: 1px solid #f5f5b0;
    border-radius: 0;

  //background-color: #ffcd5a;
     
  /* CSS3 Linear Gradient */
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f5f5b0),color-stop(35%,#ffc),color-stop(100%,#ffc));
  background-image: -webkit-linear-gradient(top,#f5f5b0 0%,#ffc 35%,#ffc 100%);
  background-image: -moz-linear-gradient(top,#f5f5b0 0%,#ffc 35%,#ffc 100%);
  background-image: -o-linear-gradient(top,#f5f5b0 0%,#ffc 35%,#ffc 100%);
  background-image: linear-gradient(top,#f5f5b0 0%,#ffc 35%,#ffc 100%);
}
textarea.form-control.notes-text-area.note-small {
    height: 150px;
}


/* ------ DOCUMENTS ----------*/
.minor-edit-icons {
    visibility: hidden;
}
.table-hover  tr:hover td span.minor-edit-icons a {
    visibility: visible;
    color: #666;
}
/* ------ APIs --------- */
h4.api {
    margin-top: 25px;
}
.parameter-well {
    margin-top: 15px;
}
.parameter-well ul {
    padding-left: 15px;
    margin-bottom: 0px;
}
.html-snippet pre {
    padding: 20px;
    color: #000099;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.html-snippet pre var {
    color: #e0234a;
}
a var {
    color: #e0234a;
}


/* --- import people wizard ---- */
#source ul {
    padding-left: 0;
}

/* --- swagger adjustment ----*/
#swagger-ui-container div.container {
    padding-left: 0px;
    padding-right: 0px;
    
}

/* ---- popovers ----*/
.popover {
    z-index: 15000;
}

hr.understated-separator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:    -moz-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:     -ms-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:      -o-linear-gradient(left, #fff, #e5e5e5, #fff);
}
.modal-header h4 {
  font-size: 20px;
  margin: 0px 3px 0px 3px;
}
.modal-header {
    background-color: rgb(250, 250, 250);
}

label.inline-checkbox {
    float: left;
    margin-bottom: 0px;
}
.inline-checkbox-div input[type="checkbox"] {
    width: 22px;
    margin: 0 0 0 -1px;
    
    float: left;
    margin-top: 3px;
}
.item-section-title {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:    -moz-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:     -ms-linear-gradient(left, #fff, #e5e5e5, #fff);
    background-image:      -o-linear-gradient(left, #fff, #e5e5e5, #fff);
    text-align:center;
    top: -28px;
    margin: 0px 0 25px 0;
}
.item-section-title h3 {
    display:inline-block;
    //font-weight:100;
    font-size: 14px;
    position:relative;
    top:-9px;
    background:#fff;
    padding:0 8px;
    color: #999;
    font-style: italic;
    
}
/* for survey questions */
.selectionbox-choices-question .dl-horizontal {
    margin-bottom: 0;
}
.selectionbox-choices-question .dl-horizontal dt {
    width: inherit;
    
}
.selectionbox-choices-question .dl-horizontal dd {
    width: inherit;
    margin-left: 90px;
}
.selectionbox-choices-question .row {
    min-height: 23px;
}
.reg-form-section {
    margin-top: -15px;
}
#reg-forms-preview {
    background-color: #EEE;
    padding: 10px 20px 10px 20px;
    
}
.centered {
    text-align: center;
}
#order-form div.form-group  label input[type="radio"] 
{
        margin-top: 10px;
}
.radio-group {
    margin-right: 13px;
    
}
.empty-tab {
    background-color: rgb(98%,98%,98%);
    text-align: center;
    padding: 30px;
    color: rgb(85%,85%,85%);
    font-size: 135%;
    border-radius: 10px;
}
img.lonely-image {
    height: 40px;
    opacity: 0.25;
}
i.fa.fa-map-marker {
    font-size: 115%;
}
/* These are used for the twitter typeahead */
.tt-menu, .gist {
    text-align: left;
}
// .typeahead, .tt-query, .tt-hint {
    // border: 2px solid #ccc;
    // border-radius: 8px;
    // font-size: 24px;
    // height: 30px;
    // line-height: 30px;
    // outline: medium none;
    // padding: 8px 12px;
    // width: 396px;
// }
// .typeahead {
    // background-color: #fff;
// }
// .typeahead:focus {
    // border: 2px solid #0097cf;
// }
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 2px 0;
    padding: 5px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion:hover {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.fht-cell {
    max-height: 35px;
}
.fht-cell div.filterControl input {
    //margin-top: -5px;
    font-size: 12px;
    height: 28px;
    margin-left: 5px !important; // for overriding the inline styles
    font-weight: normal;
}
.fht-cell div.filterControl {
    margin-right: 11px;
}
#query-area-parent {
    max-height : 370px; 
    overflow : auto;    
}

.item-form .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

.item-form-label {
    margin-right: -15px;
}
/* Required field START */

.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
    
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -3px 0 0 12px;
}
/* Required field END */

.survey-form h3:first-child {
    margin-top: 25px;
}
img.survey-title-image {
    max-width: 100%;
    max-height: 325px;
}
.survey-form div.checkbox {
    padding-top: 0;
}
.survey-form input[type="checkbox"] {
    margin-top: 5px;
}
.container.survey-container {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 1125px;
    background-color: white;
}
.question-row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.question-row:hover {
    background-color: #EEE;
}
.radio-choices-div {
    padding-top: 0 !important;
}
.no-bottom-margin {
    margin-bottom: 0px;
}
.survey-body {
    background-color: #EEEEEE;
}
.survey-title-row {
    background-color: #777;
    margin-bottom: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
h1.survey-title {
    color: white;
    font-size: 32px;
    margin-top: 34px;
    margin-bottom: 15px;
    font-weight:100;
}
@media all and (max-width: $w2) {
    .survey-submit-button {
        white-space:normal;
    }
}
.fa.fa-arrows-v {
    color: gray;
}
.fa.fa-arrows-v:hover {
    cursor: pointer;
    color: #000;
}

div.thumbnail.clearfix.ui-draggable {
    margin-bottom: 0;
}
div.ui-droppable.well {
    padding: 7px;
    min-height: 42px;
}
div.understated-drag-person-hint p {
    font-size: 10px;
    color: #ccc;
    font-style: italic;
    text-align: right;
    margin-top: -15px;
}

/*
 * Provide a loader so people know something is happening and not nowt
 */
.ajax-loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/assets/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajax-loading-modal {
    display: block;
}

/*
 * 
 */
.styled-checkbox .checked,
.styled-checkbox .unchecked {
  font-size: 2em;
  color: rgb(66,139,202);
  background-color: #eee;
  width: auto;
}

.styled-checkbox input[type="checkbox"],
.styled-checkbox .checked {
    display: none;
    width: auto;
}
 
.styled-checkbox input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.styled-checkbox input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}


/* coudinary upload button */ 

.cloudinary-button {
  float: left;
  margin-right: 2em;
}

.image-upload-preview {
  float: left;
}

div.upload_section {
    margin-left: 10px;
    margin-top: 10px;
}

@media all and (min-width: 992px) {
    #start-day-and-time-form-group {
        margin-bottom: -50px;
    }

    #start-offset-form-group {
        margin-bottom: -50px;
    }
} 

.navigation-badge {
    background-color: #cccccc;
    color: #777;
}

.navigation-badge-blink {
    -webkit-animation: blink2 2s ease-in-out infinite;
    -moz-animation: blink2 2s ease-in-out infinite;
    -ms-animation: blink2 2s ease-in-out infinite;
    -o-animation: blink2 2s ease-in-out infinite;
    animation: blink2 2s ease-in-out infinite;
}

@keyframes blink2 {
    0% { background-color: #cccccc; }
    50% { background-color: #eeeeee; }
    100% { background-color: #cccccc; }
}

.pending-changes-count-badge {
  &:hover {
    text-decoration: none;
  }
}

i.publication-count-num {
  font-style: normal;
}

.select2-container.gr-conf-selector {
    margin-top: 9px;
    a {
        background-color: rgba(255,255,255,0.5);
    border-radius: 0px;
    }
}

