<% content_for :jsheader do %>
  <%= javascript_include_tag 'rooms/rooms' %>
<% end %>
<div id="room_id" style="display : none"></div>
<div class="container_12">
<div class="grid_6">
    <table id="rooms"></table>
    <div id="pager"></div>
</div>
</div>
