<% @rooms.each do |room| %>
    <div class='room-entries'>
        <div class='program-entry'>
            <div class="roomid" style="display: none;"><%= room.id %></div>
            <%= room.name %>
        </div>
    </div>
<% end %>
