<br/>
<h1> Name: <%= @room.name %></h1>
<h2> Capacity: <%= @room.capacity %></h2>
<h2> Venue: <%= link_to @venue.name, venue_path(@venue.id) %></h2>
<hr />
<%= link_to 'Room List', {:action => 'index'} %>

