/*
 * 
 */
var TabUtils = (function(){
    var tabModule = {};

    var eventAggregator = AppUtils.eventAggregator;

    TagModal = AppUtils.GenericModal.extend({
        renderBody : function() {
            this.form = new Backbone.Form({
                template : _.template('\
                        <form class="form-horizontal" data-fieldsets onsubmit="return false;"></form>\
                '),
                
                schema: {
                    tags: 'Text',
                },
            }).render();
        },

        // over-ride for the actual data submission        
        submitData : function() {
            var data = this.form.getValue();
            $.ajax({
                url : this.options.tagUrl,
                type : 'POST',
                data : { 'tag' : data.tags, 'context' : this.options.tagContext },
                success : function() {
                    eventAggregator.trigger("refreshTagList");
                }
            });
        }
    });
    
    TabView = Marionette.ItemView.extend({
        def_options : { // The titles should be over-ridden
            newTitle  : "NEW",
            editTitle : "EDIT",
            addTitle : "ADD",
            deleteTitle : '<%= I18n.t "delete-confirmation" %> ',
            deleteMessage : '<%= (I18n.t "confirm-that-you-really-want-to-delete").html_safe %>'
        },

        onShow: function(){
            this.$el.find('.bpopover').popover({html : true});
            this.$('[data-toggle="tooltip"]').tooltip();
        },
        
        events : {
            "click .model-edit-button"   : "editModel",
            "click .model-new-button"    : "newModel",
            "click .model-delete-button" : "deleteModal",
            "click .model-add-tag-button" : "addTag",
            "click .model-select-button" : "select",
            "click .model-csv-button"    : "select_csv",
            "click .select-tag-button" : "selectTag",
            "click .filter-remove-button" : "removeFilter",
        },
        
       select : function(event) {
            if (this.options.selectFn) {
                this.options.selectFn(this.model.id);
            }
        },
        
        select_csv : function(event) {
            if (this.options.selectCsvFn) {
                this.options.selectCsvFn(this.model.id);
            }
        },
        
        initialize : function(opts) {
            $.extend( this.options, this.def_options, opts);
            
            this.listenTo(this.model, 'change', this.render);
            
            // syncCallback            
            if (this.options.url) {
                this.model.urlRoot = this.options.url;
            };

            this.model.on("sync", this.options.syncCallback ); // when the modal does the update and second after the update to the server
            
            // Add extra events
            if (this.options.extra_events) {
                $.extend(this.events, this.options.extra_events);
            }
        },
        
        removeFilter : function(event) {
            var ctx = $(event.target).attr('tagcontext');
            var name = $(event.target).attr('tagname');
            this.model.destroy();
            if (this.options.tagremove) {
                this.options.tagremove(ctx,name);
            }
        },
        
        selectTag : function(event) {
            var ctx = $(event.target).attr('tagcontext');
            var name = $(event.target).attr('tagname');

            if (this.options.tagselect) {
                this.options.tagselect(ctx,name);
            }
        },
        
        addTag : function(event) {
            var ctx = $(event.target).attr('tagcontext');
            // Put up a modal dialog to edit the reg details
            mdl = new TagModal({
                title : this.options.addTitle,
                tagUrl :  this.options.tagUrl,
                tagContext : ctx
            });
            mdl.render();
        },
        editModel : function() {
            // Put up a modal dialog to edit the reg details
            mdl = new AppUtils.ModelModal({
                model : this.model,
                title : this.options.editTitle,
                modal_template : this.options.modal_template,
                view_refresh_event : this.options.view_refresh_event
            });
            mdl.render();
            
            if (this.options.form_event) {
                mdl.form.on(this.options.form_event, this.options.form_event_fn );
            }
        },
        
        newModel : function() {
            if (!this.model) {
                this.model = new this.options.modelType();
                this.model.set(this.options.id_name, this.options.id);
                this.initialize(this.options);
            } else {
                this.model.set(this.options.id_name, this.options.id);
            };
            
            mdl = new AppUtils.ModelModal({
                model : this.model,
                title : this.options.newTitle,
                modal_template : this.options.modal_template,
                view_refresh_event : this.options.view_refresh_event
            });
            mdl.render();
            
            if (this.options.form_event) {
                mdl.form.on(this.options.form_event, this.options.form_event_fn );
            }
        },
        
        deleteModal : function() {
            var that = this;
            var clearFn = this.options.clearFn; 
            var post_clearFn = this.options.post_clearFn; 

            modal = new AppUtils.ConfirmModel({
                title : this.options.deleteTitle,
                content : this.options.deleteMessage,
                continueAction : function() {
                    that.model.destroy({
                        wait: true,
                        success : function(mdl) {
                            if (clearFn) {
                                clearFn.bind(that)();
                            };
                            that.model = null;
                            that.render();
                            if (post_clearFn) {
                                post_clearFn.bind(that)();
                            };
                        }
                    });
                },
                closeAction : function() {
                }
            });
            modal.render();

        }
    });
    
    TabCollectionView = Backbone.Marionette.CollectionView.extend({
        itemView: TabView,

        initialize : function(options) {
            this.options = options || {};
            eventAggregator.on(this.options.view_refresh_event, this.refreshList, this);
            // this.itemView.set('newTitle', options.newTitle);
            // this.itemView.set('editTitle', options.editTitle);
        },
        
        refreshList : function() {
            this.collection.deferred = this.collection.fetch({});
        }
    });
    
    tabModule.TabControlView = Backbone.Marionette.ItemView.extend({
        events : {
            "click .add-model-button" : "createMdl", //"createAddress",
        },
        
        initialize : function(options) {
            this.options = options || {};
            // Add extra events
            if (this.options.extra_events) {
                $.extend(this.events, this.options.extra_events);
            }
        },
        
        createMdl : function() {
            var mdl = new this.options.modelType({});
            if (this.options.id) {
                mdl.set(this.options.id_name, this.options.id);
            }
            if (typeof this.options.extraDocumentParams != 'undefined' && typeof this.options.extraDocumentParams.linkedto_id != 'undefined' && typeof this.options.extraDocumentParams.linkedto_type != 'undefined' ){
            	mdl.set('linkedto_id', this.options.extraDocumentParams.linkedto_id);
            	mdl.set('linkedto_type', this.options.extraDocumentParams.linkedto_type);
            }
            if (this.options.modelURL) {
                mdl.url = this.options.modelURL;
            }
            
            var refreshEvent = this.options.view_refresh_event;
            var callback = this.options.view_callback;
            
            if(typeof this.options.modalType != 'undefined'){
            	var modalType = this.options.modalType;
            } else{
            	var modalType = AppUtils.ModelModal;
            }
            var modal = new modalType({
                model : mdl,
                title : this.options.modal_create_title,
                modal_template : this.options.modal_template,
                
                refresh : function(m) {
                    if (refreshEvent) {
                        eventAggregator.trigger(refreshEvent); 
                    }
                    if (callback) {
                        callback(m);
                    }
                }
            });
            modal.render();
                if (this.options.form_event_fn) {
                    modal.form.on(this.options.form_event, this.options.form_event_fn );
                }
            
            return true;
        }
    });
    
    /*
     * modelType
     * URL
     * template
     * place
     */
    tabModule.createTabContent = function createTabContent(options) {
        if (!options.model) {
            showSpinner(options.place);
            
            detail = new options.modelType();
            detail.deferred = detail.fetch({
                url : options.url,
                async:false,
                success : function(model) {
                    var tabView = new TabView({
                        template : options.template,
                        id : options.id,
                        id_name : options.id_name, 
                        model_url : options.url,
                        model : model,
                        modelType : options.modelType,
                        newTitle  : options.newTitle,
                        editTitle : options.editTitle,
                        deleteTitle : options.deleteTitle,
                        deleteMessage : options.deleteMessage,
                        selectFn : options.selectFn,
                        clearFn         : options.clearFn,
                        post_clearFn         : options.post_clearFn,
                        selectCsvFn : options.selectCsvFn,
                        form_event : options.form_event,
                        form_event_fn : options.form_event_fn,
                        modal_template : options.modal_template,
                        extra_events : options.events,
                        view_refresh_event : options.view_refresh_event,
                        className : options.className
                    });
                    tabView.render();
                    if (options.region) {
                        options.region.show(tabView);
                    } else {
                        $(options.place).html(tabView.el);
                    }
                    // model.on("sync", options.updateCallback );
                }
            });
            detail.on("sync", options.updateCallback ); // when the modal does the update and second after the update to the server
        } else {
            detail = options.model;
            var tabView = new TabView({
                template : options.template,
                id : options.id,
                id_name : options.id_name, 
                model_url : options.url,
                model : options.model,
                modelType : options.modelType,
                newTitle  : options.newTitle,
                editTitle : options.editTitle,
                deleteTitle : options.deleteTitle,
                deleteMessage : options.deleteMessage,
                selectFn : options.selectFn,
                clearFn         : options.clearFn,
                post_clearFn         : options.post_clearFn,
                selectCsvFn : options.selectCsvFn,
                form_event : options.form_event,
                form_event_fn : options.form_event_fn,
                modal_template : options.modal_template,
                extra_events : options.events,
                view_refresh_event : options.view_refresh_event
                });
            tabView.render();
            if (options.region) {
                options.region.show(tabView);
            } else {
                $(options.place).html(tabView.el);
            }
            detail.on("sync", options.updateCallback );
        }
        
        return detail;
    };

    
    tabModule.createTabControl = function createTabControl(options) {
            control = new TabUtils.TabControlView({
                template : options.template,
                id : options.id,
                id_name : options.id_name,
                view_refresh_event : options.view_refresh_event,
                modal_create_title : options.modal_create_title,
                modelType : options.modelType,
                view_callback : options.callback,
                modelURL : options.modelURL,
                form_event      : options.form_event,
                form_event_fn   : options.form_event_fn,
                modal_template : options.modal_template,
                extra_events : options.events,
                view_refresh_event : options.view_refresh_event,
                extraDocumentParams : options.extraDocumentParams,
                modalType : options.modalType
            });
        if (options.place) {
            control.render();
            $(options.place).html(control.el);
        } else {
            options.region.show(control);
        }
        
        return control;
    };
    
    tabModule.createTagListContent = function createTagListContent(options) {
        if (!options.collection) {
            collection = new options.collectionType();
            collection.url = options.url;
            collection.deferred = collection.fetch({
                success : function(col) {
                    viewType = TabCollectionView.extend({
                        initialize : function(options) {
                            this.options = options || {};
                            eventAggregator.on("refreshTagList", this.refreshList, this);
                        },
                        itemViewOptions : {
                            template : options.template,
                            newTitle  : options.newTitle,
                            editTitle : options.editTitle,
                            addTitle : options.addTitle,
                            deleteTitle : options.deleteTitle,
                            deleteMessage : options.deleteMessage,
                            tagUrl : options.tagUrl
                        },
                        events : {
                            "click .tag-remove-link"   : "removeTag",
                        },
                        removeTag : function(event) {
                            event.preventDefault();
                            $.ajax({
                                async : false,
                                url : event.currentTarget,
                                success : function() {
                                    eventAggregator.trigger("refreshTagList");
                                }
                            });
                            
                        }
                    });
                    var collectionView = new viewType({
                        collection : col,
                        view_refresh_event : options.view_refresh_event,
                    });
                    if (options.place) {
                        collectionView.render();
                        $(options.place).html(collectionView.el);
                    } else {
                        options.region.show(collectionView);
                    }
                }
            });
        };
        
        return collection;
    };
    
    tabModule.createTagCloudContent = function createTagCloudContent(options) {
        collection = new options.collectionType();
        collection.url = options.url;
        collection.deferred = collection.fetch({
            success : function(col) {
                viewType = TabCollectionView.extend({
                    attributes : options.collection_attributes,
                    itemViewOptions : {
                        template : options.template,
                        newTitle  : options.newTitle,
                        editTitle : options.editTitle,
                        attributes : options.view_attributes,
                        deleteTitle : options.deleteTitle,
                        deleteMessage : options.deleteMessage,
                        tagselect : options.tagselect,
                        tagremove : options.tagremove
                    },
                });
                var collectionView = new viewType({
                    collection : col,
                    view_refresh_event : options.view_refresh_event,
                });
                if (options.place) {
                    collectionView.render();
                    $(options.place).html(collectionView.el);
                } else {
                    options.region.show(collectionView);
                }
            }
        });
        
        return collection;
    };
    
    tabModule.createTabListContent = function createTabListContent(options) {
        if (!options.collection) {
            collection = new options.collectionType();
            collection.url = options.url;
            collection.deferred = collection.fetch({
                success : function(col) {
                    viewType = TabCollectionView.extend({
                        attributes : options.collection_attributes,
                        itemViewOptions : {
                            template : options.template,
                            newTitle  : options.newTitle,
                            editTitle : options.editTitle,
                            deleteTitle : options.deleteTitle,
                            deleteMessage : options.deleteMessage,
                            attributes : options.view_attributes,
                            tagremove : options.tagremove,
                            syncCallback : options.updateCallback,
                            tagName : typeof options.tagName != 'undefined'  ? options.tagName : 'div',
                            selectFn : options.selectFn,
                            url : options.modelURL,
                            modal_template : options.modal_template,
                            view_refresh_event : options.child_view_refresh_event
                        },
                    });
                    var collectionView = new viewType({
                        collection : col,
                        tagName : typeof options.collection_tagName != 'undefined'  ? options.collection_tagName : 'div',
                        view_refresh_event : options.view_refresh_event,
                    });
                    if (options.place) {
                        collectionView.render();
                        $(options.place).html(collectionView.el);
                    } else {
                        options.region.show(collectionView);
                    }
                }
            });
        } else {
                viewType = TabCollectionView.extend({
                    attributes : options.collection_attributes,
                    itemViewOptions : {
                        template : options.template,
                        newTitle  : options.newTitle,
                        editTitle : options.editTitle,
                        deleteTitle : options.deleteTitle,
                        deleteMessage : options.deleteMessage,
                        attributes : options.view_attributes,
                        tagremove : options.tagremove,
                        syncCallback : options.updateCallback,
                        tagName : typeof options.tagName != 'undefined'  ? options.tagName : 'div',
                        selectFn : options.selectFn,
                        url : options.modelURL,
                        modal_template : options.modal_template,
                        view_refresh_event : options.child_view_refresh_event
                    },
                });
                var collectionView = new viewType({
                    collection : options.collection,
                    tagName : typeof options.collection_tagName != 'undefined'  ? options.collection_tagName : 'div' 
                });
                if (options.place) {
                    collectionView.render();
                    $(options.place).html(collectionView.el);
                } else {
                    options.region.show(collectionView);
                }
        };
        
        return collection;
    };

    return tabModule;
}());
    
