<br/>
<h1> Name: <%= @mapped_survey_question.name %></h1>
<h2> Survey Question Code: <%= @mapped_survey_question.question %></h2>
<h2> Survey Question Code Value: <%= @mapped_survey_question.code %></h2>

