
<script type="text/template" id="merge-actions-template">

    <row>
        <div class="col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-primary discard"><%= t "discard" %></button>
        </div>
    </row>
    <row>
        <div class="col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-primary merge"><%= t "merge" %></button>
        </div>
    </row>
    <row>
        <div class="col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-primary create"><%= t "create new" %></button>
        </div>
    </row>
    <row>
        <div class="col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-primary merge-all"><%= t "merge-all" %></button>
        </div>
    </row>

</script>
