<h1>
  Surveys::Manage#display
</h1>

<p>
  Find me in app/cells/surveys/manage/display.html.erb
</p>
<%= render_cell "surveys/manage", :javascript %>

<%= render_cell "surveys/survey_list", :javascript,
    :caption => "Surveys",
    # :selectNotifyMethod => "RoomApp.RoomManagement.selectRoom"
    %>
