
<div>
<ul class="nav nav-pills" id="myTab">
    <li class="active"><a href="#registration-tab" data-toggle="tab">Reg Detais</a></li>
    <li><a href="#contacts-tab" data-toggle="tab">Contact Info</a></li>
    <li><a href="#invite-tab" data-toggle="tab">Invite Details</a></li>
    <li><a href="#bio-tab" data-toggle="tab">Bio</a></li>
    <li><a href="#tags-tab" data-toggle="tab">Tags</a></li>
    <li><a href="#availability-tab" data-toggle="tab">Availability</a></li>
    <li><a href="#items-tab" data-toggle="tab">Items</a></li>
</ul>
 
<div class="tab-content">
    <div class="tab-pane active" id="registration-tab"><div id="registration-view"></div></div>
    <div class="tab-pane" id="contacts-tab">
        <ul class="thumbnails" id="contacts-view"></ul>
        <ul class="thumbnails" id="email-view"></ul>
        <ul class="thumbnails" id="phone-view"></ul>
    </div>
    <div class="tab-pane" id="invite-tab"><div id="invite-view"></div></div>
    <div class="tab-pane" id="bio-tab"><div id="bio-view"></div></div>
    <div class="tab-pane" id="tags-tab">
        <div id="tags-view"></div> <!-- TODO - multiple tag contexts ... -->
    </div>
    <div class="tab-pane" id="availability-tab"><div id="availability-view"></div></div>
    <div class="tab-pane" id="items-tab"><div id="items-view"></div></div>
</div>
</div>
