
<script type="text/template" id="venue-layout-template">
<section>
    <h4><span class="label label-default"><%= t 'venues' %></span></h4>
    <div id="venue-region-div"></div>
    <div id="venue-control-div"></div>
</section>
</script>

<script type="text/template" id="venue-template">
    <a href="#venue-tab" class="list-group-item model-select-button">
        {{= name}}
        <button class="model-delete-button btn btn-xs pull-right"><i class="glyphicon glyphicon-trash"></i></button>
    </a>
</script>

<script type="text/template" id="venue-control-template">
    <button class="add-model-button btn-xs btn-primary pull-left clearfix">
        <%= t 'add-venue' %>
    </button>
</script>
