
<script type="text/template" id="venue-layout-template">
<section>
    <h3 class="h3-underlined"><%= t 'venues' %></h3>
    <div id="venue-control-div"></div>
    <div class="voffset10"></div>
    <div id="venue-region-div"></div>
</section>
</script>

<script type="text/template" id="venue-template">
    
            <a href="#venue-tab" class="list-group-item model-select-button">
                {{= name}}
                <button class="model-delete-button btn btn-primary btn-xs pull-right"><small><i class="glyphicon glyphicon-trash"></i></small></button>
            </a>

</script>

<script type="text/template" id="venue-control-template">
    <div class="row">
        <div class="col-md-12">
            <button class="add-model-button btn-primary pull-right clearfix">
                <%= t 'add-venue' %>
            </button>
        </div>
    </div>
</script>
