<div class='container_12'>
<h1>Edit venue</h1>
<%= error_messages_for :venue %>
<% form_for(@venue, :html => {:'accept-charset' => 'UTF-8'}) do |f| %>
<p><label for="venue_name">Name</label>:
<%= f.text_field :name %></p>
<%= submit_tag "Save" %>
<% end  %>
<hr />
<%= link_to 'Venue List', {:action => 'index'} %>
</div>

