<h1>Add new venue</h1>
<% form_tag :action => 'create'  do %>
<p><label for="venue_name">Name</label>:
<%= text_field 'venue', 'name' %></p>
<%= submit_tag "Create" %>
<% end  %>
<hr />
<%= link_to 'Venue List', {:action => 'index'} %>

