<!-- <div class="row">
    <div class="col-xs-12">
        <%= render_cell :context_menu, :display, :menu => {
        } %>
    </div>
</div> -->
<% if @cellname %>
    <%= render_cell "reports/#{@cellname}", :display %>
<% else %>
    <%= render_cell "reports/reports_dash", :display %>
<% end %>

<!--
    
    Reports:
    Panels with Panelists (program items, time, place, panelists, equipment) [select type, number of participants, ]
    Panelists with Panels
    Scheduling Conflicts
    Admin Tags by Context (person with their tags)
    People by Tags
    
    Operations:
    Panels by Room (ops)
    Panels by Timeslot(ops)
    
    Publications:
    Export for Programme Guide
    Back of Badge Label
    Room Signs
    Pink Sheet
    Table Tents
    
    -->
