<div class='group_detail'>
	<div class='line'><div class='field_name'>Name:</div><div class='field_value'><%= @group.name %></div></div>
	<div class='line'><div class='field_name'>Alt Name:</div><div class='field_value'><%= @group.altname %></div></div>
	<div class='line'><div class='field_name'>Description</div><div class='field_value'><%= @group.description %></div></div>
</div>
