<div>
<div>
	<%= link_to 'New Group', new_survey_survey_group_path, :class => "group-dialog" %>
</div>
<div>
	<div id="<%= 'group_list-' + @survey.id.to_s %>" >
	<%= render :partial => 'group_list' %>
	</div>
</div>
</div>
