<%=render :partial => 'group' %>
<!-- TODO - when add a question need to select the question type
	ALSO make sure that errors are reported -->
<!-- For each question in the group we render it - the template renders partials -->
<div class='question-new'><%= link_to 'Add Question', new_survey_survey_group_survey_question_path(@survey,@group), :class => "question-new-link" %></div>
<ol id='selectable-questions'>
<%= render :partial => 'surveys/survey_groups/survey_questions/survey_question', :collection => @group.survey_questions %>
</ol>
<div id='edit-area'></div>
