
<div class="ui-widget ui-widget-content ui-corner-all" id="items-widget">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">Controller</div>
    <div id="items-widget-content">
        <div id="query-ctl"></div>
    </div>
</div>
<div class="spacer"></div>