
<div class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">Current Query</div>
    <div>
        <div id="queryapp"></div>
    </div>
</div>
<div class="spacer"></div>
