
<div class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">Current Query</div>
    <div>
        <div id="queryapp"></div>
        <ul id="query-list"></ul>
    </div>
</div>
<div class="spacer"></div>
