
<div class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">My Queries</div>
    <div>
        <div id="my-queries-view"></div>
        <ol class="selectable" id="my-queries"></ol>
    </div>
</div>
<div class="spacer"></div>