
<div class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">My Queries</div>
    <div>
            <ol class="selectable" id="selectable-my-query">
                <li class="ui-widget-content item-draggable ui-draggable">
                One
                </li>
            </ol>
    </div>
</div>
<div class="spacer"></div>