
<div class="ui-widget ui-widget-content ui-corner-all">
    <div class="ui-widget-header ui-corner-top ui-helper-clearfix">Shared Queries</div>
    <div>
        <ul class="selectable" id="shared-queries"></ul>
    </div>
</div>
<div class="spacer"></div>