
<div class="tag-title grid_4 suffix_7">Topics that other survey respondents have associated with this area:</div>
<% @tags.each do |tag| %>
<div class="grid_3 tag"><%= tag %> <div class="tag-count">(<%= tag.count%>)</div></div>
<% end %>
<!--
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <div class="<%= css_class%>">&quot;<%= tag.name %>&quot;</div>
<% end %>
-->
