<h1>Users::Admin#index</h1>
<p>Find me in app/views/users/admin/index.html.erb</p>
<div id="user_id" style="display : none"></div>
<div class="container_12">
<div class="grid_6">
    <table id="users">
    </table>
    <div id="pager">
    </div>
</div>
