<div class='address_email'>
	<%if editable %>
	<div class='controls'>
		<div class='remove-form'>
			<%= button_to "remove", emailAddress, :method => :delete, :class => 'remove-button' %>
		</div>
		<div class='edit-form'>
			<%= link_to "edit", {:controller => 'email_addresses', :action => 'edit', :id => emailAddress}, :class => 'entrydialog' %>
		</div>
	</div>
	<% end %>
	<div class='boolean'>default?: <%= emailAddress.isdefault %></div>
  	<div class='email'>email address: <%= emailAddress.email %></div>
</div>
