<div>
    <%= error_messages_for :emailAddress %>
    <% form_for @emailAddress, :url => @urlstr, :html => {:class => "layerform", :id => "layerform"} do |f| %>
    <div class='address_email'>
        <div class='email_details'>
            <div class='email'>
                <div class='field_name'>
                    email:
                </div>
                <div class='field_value'>
                    <%= f.text_field :email %>
                </div>
            </div>
            <div class='boolean'>
                <div class='field_name'>
                    default?:
                </div>
                <div class='field_value'>
                    <%= f.check_box :isdefault %>
                </div>
            </div>
            <div class='form-buttons'>
                <%= f.submit "Submit" %>
                <button type="button" class='jqmClose'>
                    Close
                </button>
            </div>
        </div>
    </div>
    <% end %>
    <div id='form-response'>
    </div>
</div>
