<div class='address'>
    <div class='address_email'>
	  <div class='boolean'>default?: <%= @emailAddress.isdefault %></div>
  	  <div class='email'>email address: <%= @emailAddress.email %></div>
	</div>
</div>

