

#item-participants div.ui-widget-contents {
	background-color: transparent;
}

#participant-toolbar,
#item-update-toolbar,
#item-toolbar {
	padding: 10px 4px;
}

#item-update-toolbar {
    float : right;
}
