
.program-grid-shell {
}

.rooms-views {
    display: inline-block;
    width: 100%;
}

/*
 * .room-entries,
.program-grid-entry,
*/
.room-control,
.room-slider {
    display: inline;
}

/*
 *     height: 100%;
    width: 98%;

 */
.program-grid {
    height: 32em;
    margin: 0 0 0 10px;
    overflow: hidden;
    width: 100%;
    float: left;
}

.program-grid-times {
    height: 32em;
    margin: 10px 0 0 10px;
    overflow: hidden;
    width: 3em;
    float: left;
}

.program-entry,
.program-time {
    height: 4em;
}

.program-entry {
    float: left;
    width: 95%;
    border: 1px solid #A6C9E2;
}

.time-slider {
    text-align: center;
    border: 1px solid #A6C9E2;
    margin: 3px 3px 3px 3px;
    background: #A6C9E2;
}

.rooms-views {
}

.room-slider {
    height: 100%;
    position: relative;
    border: 1px solid #A6C9E2;
    background: #A6C9E2;
    margin-left: 3px;
    margin-right: 3px;
    width: 26px;
    height: 36em;
}

.room-control {
    position: relative;
    top: 50%;
}

.program-grid-rooms {
    height: 2em;
    margin: 10px 0 0 10px;
    overflow: hidden;
    width: 100%;
    float: left;
}

.room-container {
    float:left;
    width: 80%;
}

.time-column {
    float: left;
    width: 3em;
    height: 30em;
}
.time-spacer {
    float: left;
    height: 2em;
    width: 3em;
}

.program-room {
    float: left;
    width: 240px;
    margin-right: 3px;
    margin-left: 3px;
    text-align: center;
}

.room-entries {
    float: left;
    height: 96em;
    width: 240px;
    margin-right: 3px;
    margin-left: 3px;
}

.program-grid-entry {
}

.free-time {
    background-color: LightGrey;
    border: none;
}

.program-entry {
    width:240px;
}

.item-draggable {
    background-color: white;
    z-index: 100;
}

.selectable li { z-index:10; }

#room-slider-left {
    float: left;
}

#room-slider-right {
    float: right;
}

/* With = 40 program items * 246px*/
#program-grid-data {
    height: 96em;
    width: 14775px;
}

#program-room-data {
    height: 2em;
    width: 14775px;
}

#program-times {
    float: left;
    height: 96em;
}

