<div class="container_12">
  <img src="http://www.renovationsf.org/images/renovation_logo.gif" alt="Rennie logo" class="grid_2" height="110">
  <img src="http://www.renovationsf.org/images/gold-renovation.gif" alt="Rennie Title" class="grid_5">
</div>
<div class="clear"></div>
<div class="container_12">
<div class="prefix_10 grid_2">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(:current) %> |
    <%= link_to "Logout", logout_path %>
  <% end %>
</div>
</div>
  <% if current_user %>
	<%= menu %>
  <% end %>
<div class="clear"></div>

