<div id="alert-me"></div>
<div id="freeow-tr" class="freeow freeow-top-right"></div>
<div class='container_12'>
    <div class="grid_12">
        <img src="/images/boskone_header.jpg">
    </div>
</div>
<div class='container_12'>
    <div class="prefix_8 grid_3">
        <% if current_user %>
        <a id="alert-me-toggle" href="#">Stop Messages</a>|<%= link_to "Edit Profile", edit_user_path(:current) %>|<%= link_to "Logout", logout_path %>
        <% end %>
    </div>
</div>
<div class='container_12'>
    <% if current_user %>
    <%= menu %>
    <div class="large-spacer"></div>
    <% end %>
</div>
