<div class="navbar" data-spy="affix" id="nav-wrap" data-offset-top="50">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            <% if current_user %>
                <li><%= link_to "Edit Profile", edit_user_path(:current) %></li>
                <li><%= link_to "Logout", logout_path %></li>
            <% end %>
        </ul>
    </div>
</div>