<!--  -->
<script type="text/template" id="modal-edit-template">
<form>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">{{= title }}</h3>
    </div>
    <div class="modal-body" id="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            <%= t "Cancel" %>
        </button>
        <button class="btn btn-primary">
            <%= t "Save Changes" %>
        </button>
    </div>
</form>
</script>

<script type="text/template" id="modal-confirm-template">
<form>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3 id="myModalLabel">{{= title }}</h3>
    </div>
    <div class="modal-body" id="modal-body">The Program Item was not Saved. Confirm that you want to abandon the changes.</div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Remain on Item
        </button>
        <button class="btn btn-primary">
            Abandon Changes
        </button>
    </div>
</form>
</script>

