<div>
<% if not @messages_rendered -%>
    <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <p class='error'><%= msg %></p>
        </div>
    <% end %>
<% end -%>
<% @messages_rendered = true -%>
<%= content_for?(:content) ? yield(:content) : yield %>
</div>
